@model DRD.Models.View.Layout
@{
    
}
    <head>
        <meta charset="utf-8" />
        <link href="/Images/logo-color-background.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        <title>DRD - @ViewBag.Title</title>

        <!-- Global stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/pages/layout.css" rel="stylesheet" type="text/css">
        <!-- /global stylesheets -->
        <!-- /Custom Stylesheet-->
        @RenderSection("Styles", false/*required*/)
        <!-- /Custom Stylesheet-->
        <!-- Core JS files -->
        <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
        <!-- /core JS files -->
        <!-- Theme JS files -->
        <script type="text/javascript" src="/assets/js/plugins/ui/nicescroll.min.js"></script>
        <script type="text/javascript" src="/assets/js/core/app.js"></script>
        <script type="text/javascript" src="/assets/js/pages/layout_fixed_custom.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/ui/ripple.min.js"></script>
        <!-- /theme JS files -->
        <!-- Theme JS files -->
        <script type="text/javascript" src="/assets/js/plugins/notifications/noty.min.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/notifications/jgrowl.min.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/notifications/bootbox.min.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/notifications/sweet_alert.min.js"></script>
        <script src="~/Scripts/xpublic.js"></script>
        <!-- /theme JS files -->
        <!-- /Custom JS-->
        @RenderSection("Scripts", false/*required*/)
        <!-- /Custom JS-->
    </head>

    <body class="navbar-top" ng-app="drdApp">
        <div ng-controller="drdControllerMain">
            <!-- Main navbar -->
            <div class="navbar navbar-default navbar-fixed-top header-highlight">
                <div class="navbar-header" style="background-color:black">
                    <a class="navbar-brand" href="/" style="color:white">
                        <img ng-src="/Images/logo-color-background.png" alt="">
</a>
                    <ul class="nav navbar-nav visible-xs-block">
                        <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                        <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav">
                        <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3" style="top:3px"></i></a></li>
                        <li>
                            <a href="/">
                                @*<span style="font-size:medium;">DRD | @Model.user.Name</span>*@
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-right">
                        <ul class="nav navbar-nav">
                            @*<li>
                                <a href="/chat/chat">
                                    <i class="icon-bubble9"></i>
                                    <span class="visible-xs-inline-block position-right">Chat</span>
                                    <span class="badge bg-warning-400" ng-hide="counter.UnReadChat==0">{{counter.UnReadChat}}</span>
                                </a>
                            </li>*@
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="~/Images/Member/@Model.user.ImageProfile" alt="">
                                    @*<span>@Model.user.ShortName</span>*@
                                    <i class="caret"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="/profile"><i class="icon-user-check"></i> <span>Profile</span></a></li>
                                    @*<li><a href="/member/myplan"><i class="icon-puzzle4"></i> <span>Plan</span></a></li>
                                    <li><a href="/memberaccount/memberaccountlist"><i class="icon-home8"></i> <span>Bank Account</span></a></li>
                                    <li><a href="/member/mydeposit"><i class="icon-wallet"></i> <span>DRD Point</span></a></li>*@
                                    <li><a href="/Login/ChangePassword"><i class="icon-cog5"></i> <span>Change Password</span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="/Login/Logout"><i class="icon-switch2"></i> <span>Logout</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /main navbar -->
            <!-- Page container -->
            <div class="page-container">
                <!-- Page content -->
                <div class="page-content">
                    <!-- Main sidebar -->
                    <div class="sidebar sidebar-main sidebar-fixed" style="background-color: black">
                        <div class="sidebar-content">
                            <!-- User menu -->

                            <div class="sidebar-user-material">
                                <div class="category-content desktop_layout">

                                </div>


                            </div>

                            <!-- /user menu -->
                            <!-- Main navigation -->
                            <div class="sidebar-category sidebar-category-visible">
                                <div class="category-content no-padding" id="menu-content">

                                    <ul class="navigation navigation-main navigation-accordion">
                                        <!-- Main -->
                                        <li class="@(ViewBag.Submenu!= null && ViewBag.Submenu.Equals("DASHBOARD")? "active":"")">
                                            <a href="/Dashboard" style="background-color:@(ViewBag.Submenu!= null && ViewBag.Submenu.Equals("DASHBOARD")? "grey":"black")"><i class="icon-home4"></i> <span>Dashboard</span></a>
                                        </li>
                                        @foreach (var submenu in Model.menus)
                                        {
                                            <li class="@( submenu.SecondaryKey.Equals(ViewBag.Submenu) ? "active":"")">
                                                <a href="@(submenu.UrlPage)" style="background-color:@( submenu.SecondaryKey.Equals(ViewBag.Submenu)? "grey": "black")"><i class="@submenu.Icon"></i> <span>@submenu.Name</span></a>
                                            </li>
                                        }
                                        <!-- /main -->
                                      
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /main sidebar -->
                    <!-- Main content -->
                    <div class="content-wrapper">
                        <!-- Content area -->
                        <div class="content">
                            @RenderBody()
                        </div>




                        <!-- /content area -->
                    </div>
                    <!-- /main content -->
                </div>
                <!-- /page content -->
            </div>
            <!-- /page container -->

        </div>

    </body>

        @RenderSection("ScriptsBottom", false/*required*/)
        <script type="text/javascript">



    myApp.controller("drdControllerMain", function ($scope, $location, $http, $filter) {

        $scope.$on("$destroy", function (event) {
            clearInterval(xtimer);
        }
        );

        $scope.counter = { Inbox: 0, InProgress: 0, Pending: 0 };
        $scope.notiftime = 5000;
        $scope.xtimer = 0;

        $scope.startCounting = function () {
            $scope.xtimer = setInterval(() => {
                $scope.getActivityCounter();
            }, 5000);

        };

        /*--------------------------------------------------------------
        INIT DATA
        --------------------------------------------------------------*/
        angular.element(document).ready(function () {
            ////$scope.getFolders();
            //$scope.startCounting();
            //$scope.getActivityCounter();
            $("#menu-content").show();
        });

        $scope.goUrl = function (url) {
            location.href = url;
        };


        /*--------------------------------------------------------------
        GET ASSET ITEM
        --------------------------------------------------------------*/
        $scope.getActivityCounter = function () {
            $scope.products = [];
            $http.post('@Url.Action("GetActivityCounter", "Dashboard")', {}).then(function (response) {
                if (response.data) {
                    $scope.counter = response.data.New;
                    var counter = response.data;
                    $.jGrowl.defaults.closer = false;
                    var val = counter.New.Inbox - counter.Old.Inbox;
                    if (val > 0) {
                        $.jGrowl(val + ' item' + (val > 1 ? 's' : '') + ' inbox', {
                            header: 'Inbox Notification',
                            //sticky: true,
                            life: $scope.notiftime,
                            theme: 'alert-styled-right bg-info'
                        });
                    }
                    val = counter.New.InProgress - counter.Old.InProgress;
                    if (val > 0) {
                        $.jGrowl(val + ' item' + (val > 1 ? 's' : '') + ' in progress', {
                            header: 'In Progress Notification',
                            //sticky: true,
                            life: $scope.notiftime,
                            theme: 'alert-styled-right bg-info'
                        });
                    }

                    val = counter.New.Signed - counter.Old.Signed;
                    if (val > 0) {
                        $.jGrowl(val + ' item' + (val > 1 ? 's' : '') + ' signed', {
                            header: 'Signed Notification',
                            //sticky: true,
                            life: $scope.notiftime,
                            theme: 'alert-styled-right bg-info'
                        });
                    }
                    val = counter.New.Declined - counter.Old.Declined;
                    if (val > 0) {
                        $.jGrowl(val + ' item' + (val > 1 ? 's' : '') + ' declined', {
                            header: 'Declined Notification',
                            //sticky: true,
                            life: $scope.notiftime,
                            theme: 'alert-styled-right bg-danger'
                        });
                    }
                    val = counter.New.Completed - counter.Old.Completed;
                    if (val > 0) {
                        $.jGrowl(val + ' item' + (val > 1 ? 's' : '') + ' completed', {
                            header: 'Completed Notification',
                            //sticky: true,
                            life: $scope.notiftime,
                            theme: 'alert-styled-right bg-info'
                        });
                    }
                    val = counter.New.Altered - counter.Old.Altered;
                    if (val > 0) {
                        $.jGrowl(val + ' item' + (val > 1 ? 's' : '') + ' altered', {
                            header: 'Altered Notification',
                            //sticky: true,
                            life: $scope.notiftime,
                            theme: 'alert-styled-right bg-info'
                        });
                    }
                    val = counter.New.Revised - counter.Old.Revised;
                    if (val > 0) {
                        $.jGrowl(val + ' item' + (val > 1 ? 's' : '') + ' revised', {
                            header: 'Revised Notification',
                            //sticky: true,
                            life: $scope.notiftime,
                            theme: 'alert-styled-right bg-info'
                        });
                    }
                    if (counter.New.DepositBalance != counter.Old.DepositBalance) {
                        $.jGrowl("DRD Point " + $filter('number')(counter.New.DepositBalance, 0), {
                            header: 'DRD Point ',
                            //sticky: true,
                            life: $scope.notiftime,
                            theme: 'alert-styled-right bg-success-400'
                        });
                    }
                }
                else {
                    $scope.resetCounter();
                    clearInterval($scope.xtimer);
                    swal({
                        title: "Session expired!",
                        text: "The session has expired, the page will redirect to login. I will close in 10 seconds.",
                        confirmButtonColor: "#2196F3",
                        timer: 10000
                    }, function () {
                        swal.close();
                        location.href = "/Login";
                    });
                }
            }, function (response) {
                //error handle\
                var x = 0;
            });
        }

        $scope.resetCounter = function () {
            $scope.counter.Rotation = 0;
            $scope.counter.Inbox = 0;
            $scope.counter.Altered = 0;
            $scope.counter.Revised = 0;
            $scope.counter.InProgress = 0;
            $scope.counter.Pending = 0;
            $scope.counter.Signed = 0;
            $scope.counter.Declined = 0;
            $scope.counter.Completed = 0;
        }

        /*--------------------------------------------------------------
        JS
        --------------------------------------------------------------*/
        $scope.customFunction = function () {
            alert("Under construction");
        };
    });

        </script>