@using DRD.Models.API;
@model dynamic
@{
    ViewBag.Title = "Company";
    ViewBag.Submenu = "COMPANY";
}
@section Scripts
{

}

@section Styles{
    <!--Transfer Jquery | manage Admin-->
    <link rel="stylesheet" href="/assets/icon_font/css/icon_font.css">
    <!--Transfer Jquery | manage Admin-->

    <link href="/assets/css/pages/company.css" rel="stylesheet" type="text/css">
}

<body ng-app="drdApp" ng-controller="drdController">
    <h4><a class="btn" href="/company" style="border-radius:15px;text-align:center;padding:5px;margin-left:20px;font-weight:800;background-color:#5D90AE;color:white;"><i class="icon-library2"></i></a> @ViewBag.Title</h4>
    <div ng-repeat="x in CompanyList" ng-init="topIdx = $index">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5>{{x.Name}}<span ng-if="x.IsVerified == true"><img src="~/Images/verified.png" /></span><span ng-if="x.IsVerified == false"><img src="~/Images/unverified.png" /></span></h5>
                <div style="color:darkgray;font-size:10px;align-self:end" ng-show="x.IsManagedByUser">You are Administrator of this Company</div>
                <div style="color:darkgray;font-size:10px;align-self:end" ng-show="x.IsOwnedByUser">You are Owner of this Company</div>
                <hr>
                <!--MEMBER DATA-->
                <form name="{{x.Id}}" class="form-horizontal" autocomplete="off">
                    <div ng-show="wizarno=='product'">
                        <fieldset>
                            <div class="col-md-12">
                                <div class="row padding-bottom">
                                    <div class="col-md-6 ">
                                        <label class="control-label">Name</label>
                                        <input disabled type="text" class="form-control" ng-model="x.Name" ng-required="wizarno=='product'" maxlength="50" ng-readonly="!x.IsVerified && x.isOwnedByUser" />
                                    </div>
                                    <div class="col-md-6 ">
                                        <label class="control-label">Phone</label>
                                        <input disabled type="text" class="form-control" ng-model="x.Phone" ng-required="wizarno=='product'" maxlength="20" ng-readonly="!x.IsVerified  && x.isOwnedByUser" />
                                    </div>
                                </div>

                                <div class="row padding-bottom">
                                    <div class="col-md-6 ">
                                        <label class="control-label">Address</label><br />
                                        <textarea disabled ng-model="x.Address" rows="3" style="resize: none; overflow-y: hidden; height: 75px;width:100%;border:1px solid #ddd;background-color:#fafafa" ng-required="wizarno=='product'" ng-readonly="!x.IsVerified && x.isOwnedByUser"></textarea>
                                    </div>
                                    
                                </div>

                                <div class="row padding-bottom">
                                    <div class="col-md-6">
                                        <div class="row ">
                                            <div class="col-md-12 padding-bottom">
                                                <label class="control-label">Owner</label>
                                                <p>owner has access to all company management setting and manegement dashboard</p>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" ng-model="x.OwnerName" readonly />
                                                </div>
                                            </div>

                                            <div class="col-md-12 padding-bottom">

                                                <label class="control-label">Administrator</label>
                                                <p>administrator can manage members and edit company profile</p>
                                                <div class="input-group" ng-click="showAdmins($index)" style="cursor:pointer">
                                                    <input type="text" class="form-control" readonly value="{{adminsString[$index][0]}}" />
                                                    <span class="input-group-addon" data-toggle="modal" data-target="#modal_manage_admin"><i class="icon-users"></i></span>
                                                </div>
                                            </div>

                                            <div class="col-md-12 padding-bottom">
                                                <label class="control-label">Subscription</label>
                                                <p ng-if="x.SubscriptionName!=null">your subscription is <strong>{{x.SubscriptionName}}</strong> package</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Members</label>
                                        <p>members of the company will automatically added to each member’s contact list</p>
                                        <div class="input-group">
                                            <a href="company/member?id={{x.Id}}" class="btn btn-default btn-ladda btn-process">Manage Members</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <hr />
                        
                    </div>
                </form>
                <!--/MEMBER DATA-->
                <!--CONFIRMATION THANK YOU-->
                <div ng-show="wizarno=='success'">
                    <div class="col-md-12">
                        @*<div class="alert alert-success alert-styled-left">*@
                        Thank you for registering for the DRD subscription.<br />
                        Subscription registration is successful.<br /><br />

                        Subscription Id: <b>{{subscriptionId}}</b><br />
                        User number: <b>{{userNumber}}<br /></b><br />

                        The password will be sent to email <b>{{model.MemberEmail}}</b>.<br />
                        @*</div>*@
                    </div>
                </div>
                <!--/CONFIRMATION THANK YOU-->
                <!-- /basic layout -->
                <!-- View Manage Admin modal -->
                <div id="modal_manage_admin" class="modal_hide">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background:black; color:white;padding:10px;">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h6 class="modal-title">Change Admin</h6>
                            </div>
                            <div class="row" style="margin-top:20px;align-content:center;">
                                <div class="col-sm-5">
                                    <b>Members:</b><br />
                                    <select ng-model="selectedMembers" multiple="multiple" style="width:90%;margin:auto;" id='lstBox2'>
                                        <option ng-selected="{{x.Id == selectedMembers}}"
                                                ng-repeat="x in membersList"
                                                value="{{x}}">
                                            {{x.User.Name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <div class="row" style="vertical-align:central;">
                                        <div class="col-md-12">
                                            <input ng-click="makeAdmin(selectedMembers)" class='btn btn-sm' id='btnRight' value='>' style="border:1px solid black;margin-top:50px;" />
                                        </div>
                                        <div class="col-md-12">
                                            <input ng-click="makeMember(selectedAdmins)" class='btn btn-sm' id='btnLeft' value='<' style="border:1px solid black;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <b>Administrators: </b><br />
                                    <select ng-model="selectedAdmins" multiple="multiple" style="width:90%;margin-left:10px;" id='lstBox2'>
                                        <option ng-selected="{{x.Id == selectedAdmins}}"
                                                ng-repeat="x in administratorsList"
                                                value="{{x}}">
                                            {{x.User.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer" style="margin-top:15px">
                                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-ladda " data-dismiss="modal"
                                        style="padding-left:20px;padding-right:20px;background-color:black;color:white;" ng-click="setAdmin()">
                                    Set
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- View Manage Admin modal -->
                <ng-include src="'/Include/PopupBusinessSubscription'"></ng-include>
            </div>
            <!-- /vertical form options -->
        </div>
        <!-- /Main content -->
    </div>
    <!-- /Page content -->
    <!-- /Page container -->
</body>

@section ScriptsBottom
{
    <script type="text/javascript">

        var myApp = angular.module('drdApp', ['ngAnimate', 'ui.bootstrap'])

        myApp.controller("drdController", function ($scope, $http) {
            // modal member
            $scope.model = {};
            $scope.wizarno = 'product';
            $scope.model.Id = 0;
            $scope.model.Image1 = "no_picture.png";
            $scope.model.Image2 = "no_picture.png";
            $scope.model.ImageCard = "no_picture.png";
            $scope.CompanyList = [];
            $scope.SubscriptionList = [];
            $scope.companyIndex=-1;
            $scope.index = 0;
            $scope.subscriptionId = "";
            $scope.userNumber = "";
            $scope.membersList = [];
            $scope.selectedMembers = [];
            $scope.administratorsList = [];
            $scope.adminsString = [];
            $scope.selectedAdmins = [];
            $scope.totalAdminQuota = 0;

            /*--------------------------------------------------------------
            INIT DATA
            --------------------------------------------------------------*/
            function initValues() {
            }

            angular.element(document).ready(function () {
                $scope.model.Image1 = "no_picture.png";
                $scope.model.Image2 = "no_picture.png";
                $scope.model.ImageCard = "no_picture.png";
                $scope.getOwnedandManagedCompany();
                $(".content").show();
            });

            $scope.initData = function () {

            }
             $scope.getOwnedandManagedCompany = function () {
                $http.get('@Url.Action("GetOwnedandManagedCompany", "Company")')
                    .then(function (response) {

                        if (response.data) {
                            $scope.CompanyList = response.data;

                            $scope.CompanyList.forEach(
                                function (value, index, array) {
                                        $scope.adminsString[index] = [];
                                        var tempString = "";
                                    value.Administrators.forEach(
                                        function (val, idx, arr) {
                                            tempString += idx==0? val.User.Name: (", " + val.User.Name);
                                        });
                                    $scope.adminsString[index].push(tempString);
                            });
                        }
                });
            }

            $scope.getAdministratorList = function () {
                $http.post('@Url.Action("GetAcceptedMemberorAdmin", "member")', { companyId: $scope.CompanyList[$scope.companyIndex].Id, isAdmin: true })
                    .then(function (response) {

                        if (response.data) {
                            $scope.administratorsList = response.data.members;

                        }
                });
            }
            $scope.getMemberList = function () {
                $http.post('@Url.Action("GetAcceptedMemberOrAdmin", "member")', { companyId: $scope.CompanyList[$scope.companyIndex].Id, isAdmin: false})
                    .then(function (response) {

                        if (response.data) {
                            $scope.membersList = response.data.members;
                        }
                });
            }
            $scope.makeAdmin = function (members) {
                var tempMember = JSON.parse(members);
                var i = $scope.findMember(tempMember, $scope.membersList);
                if ( i != -1) {
                    $scope.administratorsList.push(tempMember);
                    $scope.membersList.splice(i, 1);
                }
                $scope.selectedMembers = [];
            }

            $scope.findMember = function (members, list) {
                for (var i = 0; i < list.length; i++){
                    if (list[i].Id === members.Id) {
                        return i;
                   }
                }
                return -1;
            }

            $scope.makeMember = function (admins) {
                var tempAdmins = JSON.parse(admins);
                var i = $scope.findMember(tempAdmins, $scope.administratorsList);
                if (i != -1) {
                    $scope.membersList.push(tempAdmins);
                    $scope.administratorsList.splice(i, 1);
                }
                $scope.selectedAdmins = [];
            }

            $scope.getSubscriptionList = function () {
                $scope.members = [];
                $http.post('/Company/GetSubscriptionList').then(function (response) {
                    if (response.data) {
                        $scope.SubscriptionList = response.data;

                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }
          
            $scope.scrollingPage = function (id) {
                $('html, body').animate({
                    scrollTop: $(id).offset().top
                }, 200);
            }

            /*---------------------------------------------------------------------------
             M A P
            ---------------------------------------------------------------------------*/

            /*--------------------------------------------------------------
            INIT MAP
            --------------------------------------------------------------*/
            $scope.initMap = function () {

                var lat = $scope.currentLocation.latitude;
                var lng = $scope.currentLocation.longitude;

                $scope.markers = [];
                $scope.markers.push(angular.copy($scope.markerTemplate));
                $scope.markers[0].coords = {
                    latitude: lat,
                    longitude: lng
                }

                $scope.getLocationAddress(lat, lng);
            }

            /*--------------------------------------------------------------
            SHOW LOCATION MAP
            --------------------------------------------------------------*/
            $scope.getLocationAddress = function (lat, lng) {
                var geocoder = new google.maps.Geocoder;
                var infowindow = new google.maps.InfoWindow;
                var latlng = { lat: lat, lng: lng };
                geocoder.geocode({ 'location': latlng }, function (results, status) {
                    if (status === 'OK') {
                        if (results[1]) {
                            $scope.model.LocationDetail = results[0].formatted_address;
                            $scope.dummyCurrentLocation.latitude = results[0].geometry.location.lat();
                            $scope.dummyCurrentLocation.longitude = results[0].geometry.location.lng();
                        } else {
                            window.alert('No results found');
                        }
                    } else {
                        window.alert('Geocoder failed due to: ' + status);
                    }
                });
            }

            $scope.createMarker = function () {
                if ($scope.xmarkers.length != 0)
                    $scope.xmarkers[0].setMap(null);

                $scope.xmarkers = [];
                var xmap = $scope.map.control.getGMap();
                var myLatlng = new google.maps.LatLng($scope.currentLocation.latitude, $scope.currentLocation.longitude);
                var mk = new google.maps.Marker(
                {
                    position: myLatlng,
                    map: xmap,
                    icon: { url: "/assets/images/maps-and-flags.png" },
                    title: "Drag me!",
                    draggable: true
                });

                $scope.xmarkers.push(mk);

                google.maps.event.clearListeners(mk, "dragend")
                google.maps.event.addListener(mk, "dragend", function (event) {
                    var lat = event.latLng.lat();
                    var lng = event.latLng.lng();

                    $scope.getLocationAddress(lat, lng);

                    $scope.map.control.refresh({
                        latitude: lat,
                        longitude: lng
                    });

                });

            }

            $scope.editSubscription = function (idx) {
                $scope.companyIndex = idx;
                $scope.company = [];
                $scope.getSubscriptionList();
                $("#modal_select_business_subscription").modal("show");
            }

            $scope.setSubscription = function (idx) {
                $scope.CompanyList[$scope.companyIndex].SubscriptionId = $scope.SubscriptionList[idx].Id;
                $scope.CompanyList[$scope.companyIndex].SubscriptionName = $scope.SubscriptionList[idx].Name;

            }

            $scope.showLocation = function (idx) {
                var element = document.getElementById('modal_select_map');
                if (element.className != 'modal fade') {
                    element.className = 'modal fade';
                }

                $scope.companyIndex=idx;
                $scope.company = [];

                $scope.createMarker();

                $scope.map.center.latitude = $scope.currentLocation.latitude;
                $scope.map.center.longitude = $scope.currentLocation.longitude;
                $scope.map.zoom = 16;

            }

            $scope.showAdmins = function (idx) {
                $scope.companyIndex = idx;
                var element = document.getElementById('modal_manage_admin');
                $scope.getAdministratorList();
                $scope.getMemberList();
                if (element.className != 'modal fade') {
                    element.className = 'modal fade';
                }
            }

            /*--------------------------------------------------------------
           SET LOCATION
           --------------------------------------------------------------*/
            $scope.setLocation = function () {
                $scope.CompanyList[$scope.companyIndex].PointLocation = $scope.model.LocationDetail;
                $scope.currentLocation.latitude = $scope.dummyCurrentLocation.latitude;
                $scope.currentLocation.longitude = $scope.dummyCurrentLocation.longitude;

                angular.element('#modal_select_map').modal('hide');
            }

            $scope.setAdmin = function () {
                $http.post('@Url.Action("BecomeAdmin", "Member")', { companyId: $scope.CompanyList[$scope.companyIndex].Id, adminCandidate: $scope.administratorsList })
                    .then(function (response) {
                        if (response.data.status == "OK") {
                            $scope.administratorsList = response.data.members;
                            $scope.setMember();
                            $scope.setAdminsString();
                        } else if (response.data.status == "ADMINISTRATOR_EXCEED_LIMIT") {
                            showError("Administrator exceed the subscription limit");
                        }
                        else {
                            angular.element('#modal_manage_admin').modal('hide');
                            showInfo("Failed change administrator in " + $scope.CompanyList[$scope.companyIndex].Name);
                        }
                });
            }
            $scope.setMember = function () {
                $http.post('@Url.Action("BecomeMember", "Member")', { companyId: $scope.CompanyList[$scope.companyIndex].Id, memberCandidate: $scope.membersList })
                    .then(function (response) {
                        if (response.data) {
                            $scope.memberList = response.data.members;
                            angular.element('#modal_manage_admin').modal('hide');
                            showInfo("Success change administrator in " + $scope.CompanyList[$scope.companyIndex].Name);
                        }
                        else {
                            angular.element('#modal_manage_admin').modal('hide');
                            showInfo("Failed change administrator in " + $scope.CompanyList[$scope.companyIndex].Name);
                        }
                });
            }
            $scope.setAdminsString = function () {
                $scope.adminsString[$scope.companyIndex].splice(0, 1);
                var tempString = "";
                $scope.administratorsList.forEach(
                    function (value, index, array) {
                        tempString += index == 0 ? value.User.Name : (", " + value.User.Name);
                    }
                );
                $scope.adminsString[$scope.companyIndex].push(tempString);
            }

        });

        $(function () {
        });

        $(document).ready(function () {

        })
    </script>

}