@model DRD.Models.View.Layout
@{
    ViewBag.Title = "Manage Members";
    ViewBag.Submenu = "COMPANY";

}

@section Scripts
{
    <script src="/assets/js/plugins/buttons/spin.min.js" type="text/javascript"></script>
    <script src="/assets/js/plugins/buttons/ladda.min.js" type="text/javascript"></script>
    <script src="/assets/js/pages/components_buttons.js" type="text/javascript"></script>
    <script type="text/javascript" src="/assets/js/plugins/notifications/noty.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/notifications/jgrowl.min.js"></script>
}
@section Styles{
    <link href="/assets/css/pages/company-member.css" rel="stylesheet" type="text/css">
}

<body>


    <h4><a class="btn" href="/company" style="border-radius:15px;text-align:center;padding:5px;margin-left:20px;font-weight:800;background-color:#5D90AE;color:white;"><i class="icon-library2"></i></a> @ViewBag.Title</h4>

    <!-- CONTACT-LIST SECTION -->
    <section class="panel" id="contact-list">
        <!-- Page container -->

        <div class="page-container invitation-list" ng-controller="drdController">
            <!-- Page content -->

            <div class="panel-default page-content">

                <!-- Main content -->
                <div class="content-wrapper">
                    <!-- Page header -->
                    <div class="page-header page-header-default">
                        <div class="page-header-content">
                            <div class="page-title">
                                <h4><i class="icon-users2 position-left"></i>@ViewBag.Company </h4>
                                <br />
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-search4"></i></span>
                                            <input type="text" class="form-control btn-process" ng-model="criteria"
                                                   placeholder="Find members" ng-keyup="$event.keyCode == 13 && searchAcceptedMember(criteria, page, row)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /page header -->
                    <!-- Content area -->
                    <div class="content" ng-show="hasMember()">
                        <div class="manage-member-header">
                            <div class="row content-align-right">
                                <div class="col-lg-2">
                                    <p> {{ acceptedMembers.length }} Members </p>
                                </div>
                            </div>
                        </div>

                        <div class="manage-member overflow-auto">
                            <!-- LIST -->
                            <div calss="row">
                                <div ng-repeat="x in acceptedMembers" class="col-lg-4 col-md-4 col-xs-6">
                                    <div class="row member-container">
                                        <div class="col-sm-3 col-lg-3">
                                            <img class="avatar" ng-src="/Images/Member/{{x.User.EncryptedId}}/{{x.User.ImageProfile}}" />
                                        </div>
                                        <div class="col-sm-8 col-lg-8 no-overflow">
                                            <strong class="ellipsis">{{x.User.Name}}</strong>
                                            <div>{{x.User.Email}}</div>
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn pull-right btn-cancel mg-left-10 red-border" data-style="slide-down"
                                                    ng-click="DeleteMember(x.Id)" style="width:120px">
                                                <span class="ladda-label">Delete</span><span class="ladda-spinner"></span>
                                                <div class="ladda-progress" style="width: 0px;"></div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /LIST -->
                        </div>
                    </div>
                    <!-- /content area -->
                    @*INVITE BY EMAIL*@
                    <div class="content invite-email">
                        <strong>Invite via Email</strong>
                        <div class="row">
                            <div class="col-sm-10">
                                <div style="font-size:10px;align-self:end">*to invite more than 1 use use coma(,) as separator</div>
                                <textarea class="form-control" rows="5" ng-model="emails"></textarea>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn bg-slate-700 btn-ladda btn-submit" data-style="slide-down" data-spinner-color="#333" ng-click="sendInvitationEmail(emails)">
                                    <span class="ladda-label">Invite</span><span class="ladda-spinner"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    @*INVITE BY EMAIL*@

                    <!-- Content area -->
                    <div class="content" ng-show="hasPendingRequest()">
                        <!-- Contextual classes -->
                        <div class="manage-member-header">
                            <div class="row content-align-right">
                                <div class="col-lg-2">
                                    <p> {{ waitingMembers.length }} Waiting Member Request </p>
                                </div>
                            </div>
                        </div>
                        <div class="request-join overflow-auto">
                            @*JOIN BY REQUEST*@
                            <div>
                                <!-- LIST -->
                                <div calss="row">
                                    <div ng-repeat="x in waitingMembers" class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="row member-container">
                                            <div class="col-sm-2 col-lg-2">
                                                <img class="avatar" ng-src="/Images/Member/{{x.User.EncryptedUserId}}/{{x.User.ImageProfile}}" />
                                            </div>
                                            <div class="col-sm-6 col-lg-6 no-overflow">
                                                <strong class="ellipsis">{{x.User.Name}}</strong>
                                                <div>{{x.User.Email}}</div>
                                            </div>

                                            <div class="col-sm-4 col-lg-4">
                                                <div class="input-group-btn container">
                                                    <div class="row pull-right">
                                                        <button class="image-container-sm green-border" ng-click="acceptMember(x.Id)">
                                                            <img src="~/Images/icon/accept.png" />
                                                        </button>

                                                        <button class="image-container-sm red-border" ng-click="rejectMember(x.Id)">
                                                            <img src="~/Images/icon/reject.png" />
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /LIST -->
                            </div>
                            @*JOIN BY REQUEST*@
                        </div>
                    </div>
                    <!-- /content area -->
                </div>
                <!-- /main content -->
            </div>
            <!-- /page content -->
        </div>
        <!-- /page container -->
    </section>

    <script type="text/javascript">

        var myApp = angular.module('drdApp', ['ngAnimate', 'ui.bootstrap']) //, 'ui.select2'])

        myApp.controller("drdController", function ($scope, $location, $http, $filter) {
            $scope.product = {};
            $scope.members = [];
            $scope.emails = "";
            $scope.productCount = [];
            $scope.paging = [];
            $scope.criteria = "";
            $scope.page = 1;
            $scope.notiftime = 6000;
            $scope.row = 20;
            $scope.currPage = 0;
            $scope.isView = false;
            $scope.index = 0;
            $scope.companyId = 0;
            $scope.acceptedMembers = [];
            $scope.waitingMembers = [];

            /*--------------------------------------------------------------
            INIT DATA
            --------------------------------------------------------------*/
            angular.element(document).ready(function () {
                $(".content").show();
                $scope.companyId = $scope.getUrlVars()["id"];
                $scope.getWaitingMember($scope.companyId);
                $scope.getAcceptedMember($scope.companyId);
            });

            $scope.getUrlVars = function () {
                var vars = {};
                var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                    vars[key] = value;
                });
                return vars;
            }
            /*--------------------------------------------------------------
            GET PRODUCT
            --------------------------------------------------------------*/
            $scope.getAcceptedMember = function (id) {
                $http.post('@Url.Action("GetAcceptedMember", "Member")', { companyId: id })
                    .then(function (response) {
                        if (response.data) {
                            console.log(response.data.members);
                            $scope.acceptedMembers = response.data.members;
                    }
                });
            }

            $scope.getWaitingMember = function (id) {
                $http.post('@Url.Action("GetWaitingMember", "Member")', { companyId: id })
                    .then(function (response) {
                    if (response.data) {
                        $scope.waitingMembers = response.data.members;
                    }
                });
            }
            /*--------------------------------------------------------------
            DELETE MEMBER
            --------------------------------------------------------------*/
            $scope.DeleteMember = function (MemberId) {
                $http.post('@Url.Action("Delete", "Member")', { memberId: MemberId })
                    .then(function (response) {
                        if (response.data) {
                            if (response.data > 0) {
                                $.jGrowl("Success Delete Member", {
                                    header: 'User ' + response.data + ' now is not this company member anymore',
                                    //sticky: true,
                                    life: $scope.notiftime,
                                    theme: 'alert-styled-right bg-info'
                                });
                                $scope.getAcceptedMember($scope.companyId);
                            }
                        }

                    })
            }
            /*--------------------------------------------------------------
            ACCEPT MEMBER
            --------------------------------------------------------------*/
            $scope.acceptMember = function (MemberId) {
                $http.post('@Url.Action("AcceptMember", "Company")', { memberId: MemberId })
                    .then(function (response) {
                        if (response.data) {
                            if (response.data > 0) {
                                $.jGrowl('Request from User with id ' + response.data + " Accepted", {
                                    header: 'Request Accepted',
                                    //sticky: true,
                                    life: $scope.notiftime,
                                    theme: 'alert-styled-right bg-info'
                                });
                                $scope.getAcceptedMember($scope.companyId);
                                $scope.getWaitingMember($scope.companyId);
                            }
                        }
                    })
            }
            /*--------------------------------------------------------------
            REJECT MEMBER
            --------------------------------------------------------------*/
            $scope.rejectMember = function (MemberId) {
                $http.post('@Url.Action("RejectMember", "Company")', { memberId: MemberId })
                    .then(function (response) {
                        if (response.data) {
                            if (response.data > 0) {
                                $.jGrowl('Request from User with id ' + response.data + " Rejected", {
                                    header: "Request Rejected",
                                    //sticky: true,
                                    life: $scope.notiftime,
                                    theme: 'alert-styled-right bg-info'
                                });
                                $scope.getAcceptedMember($scope.companyId);
                                $scope.getWaitingMember($scope.companyId);
                            }
                        }

                    })
            }
            /*--------------------------------------------------------------
            SEND INVITATION EMAIL
            --------------------------------------------------------------*/
            $scope.sendInvitationEmail = function (emails) {
                $http.post('@Url.Action("AddMembers", "Company")', { companyId: $scope.companyId, emails: emails })
                    .then(function (response) {
                        if (response.data) {
                            for (var i = 0; i < response.data.length; i++) {
                                if (response.data[i].status == 2) {
                                    $.jGrowl("You have success send email again for " + response.data[i].email + " to join this company", {
                                        header: 'Send Email Again',
                                        //sticky: true,
                                        life: $scope.notiftime,
                                        theme: 'alert-styled-right bg-warning'
                                    });
                                }
                                if (response.data[i].status == 1) {
                                    $.jGrowl("You have success add " + response.data[i].email + " as memeber of this company", {
                                        header: 'Add Member Success',
                                        //sticky: true,
                                        life: $scope.notiftime,
                                        theme: 'alert-styled-right bg-info'
                                    });
                                }
                                if (response.data[i].status == 0) {
                                    $.jGrowl("You have success send email to invite " + response.data[i].email + " as member of this company", {
                                        header: 'Add Member Failed but Email Sent',
                                        //sticky: true,
                                        life: $scope.notiftime,
                                        theme: 'alert-styled-right bg-warning'
                                    });
                                }
                                if (response.data[i].status == -1) {
                                    $.jGrowl("You are not admin", {
                                        header: 'You Are Not Admin',
                                        //sticky: true,
                                        life: $scope.notiftime,
                                        theme: 'alert-styled-right bg-danger'
                                    });
                                }
                                if (response.data[i].status == -2) {
                                    $.jGrowl(response.data[i].email + " is member of this company", {
                                        header: 'Member of This Company',
                                        //sticky: true,
                                        life: $scope.notiftime,
                                        theme: 'alert-styled-right bg-warning'
                                    });
                                }
                            }

                            $scope.emails = "";
                            $scope.getAcceptedMember();
                            $scope.getWaitingMember();
                        }
                    });
            }

            /*--------------------------------------------------------------
            GENERAL FUNCTION
            --------------------------------------------------------------*/
            $scope.addMember = function (mid) {
                location.href = "/invitation/invitation?mid=" + mid;
            }
            $scope.hasPendingRequest = function () {
                if ($scope.waitingMembers.length > 0)
                    return true;
                else
                    return false;
            }
            $scope.hasMember = function () {
                if ($scope.acceptedMembers.length > 0)
                    return true;
                else
                    return false;
            }
            /*--------------------------------------------------------------
            CONVERT JSON DATE
            --------------------------------------------------------------*/
            $scope.convertJsonDate = function (val) {
                if (val == undefined)
                    return '';
                return new Date(parseInt(val.substr(6)));
            }

        });

        $(function () {

        });

        $(document).ready(function () {

        });
    </script>
</body>