@model DRD.Models.View.Layout

@{
    ViewBag.Title = "Dashboard";
    ViewBag.Submenu = "DASHBOARD";
}

@section Scripts
{
    <script src="/assets/js/pages/components_buttons.js" type="text/javascript"></script>
    <!-- Theme JS files -->
    <script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <!-- /theme JS files -->
}
@section Styles{
    <link href="~/assets/css/pages/dashboard.css" rel="stylesheet" type="text/css">
}
<body>
    <h4><a class="btn" href="/dashboard" style="border-radius:15px;text-align:center;padding:5px;margin-left:20px;font-weight:800;background-color:#5D90AE;color:white;"><i class="icon-home4"></i></a> @ViewBag.Title</h4>
    <section ng-controller="drdController">
        <section id="dashboard-highlight">
            <div class="row">

                <!-- DASHBOARD - ROTATION -->
                <div class="col-sm-12 col-md-8 col-lg-4" id="dashboard-rotation">
                    <div class="panel highlight-container">
                        <div class="highlight-card">
                            <!-- HEADER -->
                            <div class="highlight-header">
                                <div class="container">
                                    <div class="row vertical-align-row">
                                        <div class="col-md-6">
                                            <p class="card-title"><strong>ROTATION COUNTER</strong></p>
                                        </div>
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-4 push-left" style="align-items:flex-end;">
                                            <!-- SELECT -->
                                            <select class="card-filter select-lg pull-right" ng-model="selectedCompany" ng-options="x.Name for x in companyOwned" ng-change="setSelectedCompany(selectedCompany)"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- CONTENT -->
                            <div class="card-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row vertical-align-row" ng-click="linkPage('INPROGRESS')">
                                                <div class="col-sm-6 vertical-align-content">
                                                    <div class="card-image-lg round-img">
                                                        <img src="~/assets/ongoing.png" />
                                                        <p>Ongoing</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="card-content-lg">
                                                        <h1>{{counter.New.InProgress}}</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row vertical-align-row" ng-click="linkPage('COMPLETED')">
                                                <div class="col-sm-6 vertical-align-content">
                                                    <div class="card-image-lg round-img">
                                                        <img src="~/assets/completed.png" />
                                                        <p>Completed</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="card-content-lg">
                                                        <h1>{{counter.New.Completed}}</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row vertical-align-row" ng-click="linkPage('Rejected')">
                                                <div class="col-sm-6 vertical-align-content">
                                                    <div class="card-image-lg round-img">
                                                        <img src="~/assets/ongoing.png" />
                                                        <p>Rejected</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="card-content-lg">
                                                        <h1>{{counter.New.Rejected}}</h1>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of DASHBOARD - ROTATION -->

            </div>
        </section>

        <section id="dashboard-rotation-status">
            <div class="panel highlight-container">
                <div class="highlight-card">
                    <!-- HEADER -->
                    <div class="highlight-header">
                        <div class="container">
                            <div class="row vertical-align-row">
                                <div class="col-md-7">
                                    <p class="card-title"><strong>ROTATION DETAIL</strong></p>
                                </div>
                                <div class="col-md-4 push-left">
                                    <!-- SELECT -->
                                    <select class="card-filter select-lg" ng-model="selectedCompany" ng-options="x.Name for x in companyOwned" ng-change="setSelectedCompany(selectedCompany)"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CONTENT -->
                    <div class="card-content">
                        <div class="container">
                            <button class="btn-circle" data-toggle="collapse" data-target="#filter-tag" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <i class="icon-filter3" data-toggle="tooltip" title="Filter Rotation by Tag"></i>
                            </button>
                            <a class="btn-circle" style="border-radius:50%;padding:10px;margin-bottom:10px;" ng-click="exportAllRotationStatusToCSV()">
                                <i class="icon-file-download" data-toggle="tooltip" title="Export All Rotation Status as CSV"></i>
                            </a>
                            <div class="collapse" id="filter-tag">
                                <div class="row ">
                                    <div class="col-sm-12">
                                        <div class="tag-container">
                                            <span class="tag-item" ng-repeat="tag in model.Tags">
                                                <span ng-click="changeTag($index)">{{tag}}</span><i class="note-icon-close" ng-click="removeTag($index)"></i>
                                            </span>
                                            <input id="newTag" type="text" class="form-control" ng-model="newTag"
                                                   placeholder="Insert Tag Filter Here"
                                                   ng-keydown="(($event.keyCode == 13 || $event.keyCode == 188 ) && addTagList())"
                                                   ng-keyup="($event.keyCode == 8 && backToLastTag())(($event.keyCode == 13 || $event.keyCode == 188 ) && addTagList())" />
                                        </div>
                                        <div style="color:black;font-size:10px;align-self:end">use comma or enter to add filter by tag</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- each rotation status -->
                        <div ng-show="listRotationStatus.length > 0" class="container table-responsive">
                            <table class="table-xxs table-borderless datatable-highlight dataTable table-hover"  style="font-size:small;width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 14%">Workflow Name</th>
                                        <th style="width: 14%">Name</th>
                                        <th style="width: 10%">Status</th>
                                        <th style="width: 7%">Created</th>
                                        <th style="width: 7%">Updated</th>
                                        <th style="width: 48%">Position</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-click="openInbox(y.InboxId)" style="cursor:pointer; height:50px;vertical-align:central;" ng-repeat="y in listRotationStatus">
                                        <td>{{y.Workflow.Name}}</td>
                                        <td>{{y.Name}} </td>
                                        <td>{{getStatusName(y.Status)}}</td>
                                        <td><span style="font-size:xx-small;color:darkblue">{{convertJsonDate(y.CreatedAt) | date: 'dd/MM/yyyy HH:mm:ss'}}</span></td>
                                        <td><span style="font-size:xx-small;color:darkblue">{{convertJsonDate(y.UpdatedAt) | date: 'dd/MM/yyyy HH:mm:ss'}}</span></td>
                                        <td>
                                            <span ng-repeat="usr in y.RotationUsers"><img title="{{(usr.InboxStatus == 0? 'ongoing' : (usr.InboxStatus == -99? 'waiting':'completed')) + ' - '+ usr.Name}}" height="30" width="30" style="padding:2px;{{(usr.InboxStatus == 0? ' border: 2px solid green' : (usr.InboxStatus == -99? 'filter: grayscale(100%)':'border: 1px solid black'))}};cursor:pointer;border-radius:50%;" src="/Images/Member/{{usr.EncryptedId}}/{{usr.ProfileImageFileName}}" /></span>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="listRotationStatus.length > 0" class="pagination-container">
                            <div class="pagination">
                                <a class="{{pageRotationStatus > 1?'':'disable'}}" data-toggle="tooltip" title="first page" 
                                   ng-click="pageRotationStatus > 1 && getDashboardRotationStatusPage(1)">&lt;&lt;</a>
                                <a class="{{pageRotationStatus > 1?'':'disable'}}" data-toggle="tooltip" title="previous page" 
                                   ng-click="pageRotationStatus > 1 && getDashboardRotationStatusPage(pageRotationStatus - 1)">&lt;</a>

                                <a ng-repeat="rtsp in rotationStatusPaging | limitTo : pageRotationStatus+3>rotationStatusPaging.length?rotationStatusPaging.length:pageRotationStatus+3 : pageRotationStatus-4<0?0:pageRotationStatus-4" ng-click="getDashboardRotationStatusPage(rtsp)" class="{{rtsp == pageRotationStatus ? 'active':''}}">
                                    {{rtsp}}
                                </a>

                                <a class="{{pageRotationStatus < rotationStatusPaging.length?'':'disable'}}" data-toggle="tooltip" title="next page" 
                                   ng-click="pageRotationStatus < rotationStatusPaging.length && getDashboardRotationStatusPage(pageRotationStatus + 1)">&gt;</a>
                                <a class="{{pageRotationStatus < rotationStatusPaging.length?'':'disable'}}" data-toggle="tooltip" title="last page" 
                                   ng-click="pageRotationStatus < rotationStatusPaging.length && getDashboardRotationStatusPage(rotationStatusPaging.length)"> &gt; &gt;</a>
                            </div>
                        </div>
                        <div ng-show="listRotationStatus.length == 0" class="container" style="text-align:center">
                            There is no rotation using {{selectedCompany.Name}}'s subscription plan
                        </div>
                    </div>

                </div>
            </div>

        </section>

    </section>

    <script>

    </script>

    <script type="text/javascript">
        var myApp = angular.module('drdApp', ['ngAnimate', 'ui.bootstrap']) //, 'ui.select2'])
        myApp.controller("drdController", function ($scope, $location, $http, $filter) {
            $scope.products = [];

            //pagination
            $scope.productCount = [];
            $scope.criteria = "";
            $scope.rotationStatusPaging = [];
            $scope.pageRotationStatus = 1;
            $scope.totalRotationStatusPerPage = 10;

            //company-related
            $scope.companyOwned = [];
            $scope.selectedCompany = "";

            //tag-related
            $scope.model = {};
            $scope.model.Tags = [];
            $scope.newTag = "";

            //monitoring
            $scope.listRotationStatus = [];

            //Ga dipake semua banget
            $scope.counter = {
                Old: { InProgress: 0, Pending: 0, Rejected: 0, Completed: 0, Altered: 0, Contact: 0, DrDriveDesc: '0GB', Document: 0 },
                New: { InProgress: 0, Pending: 0, Rejected: 0, Completed: 0, Altered: 0, Contact: 0, DrDriveDesc: '0GB', Document: 0 }
            };
            
            $scope.companySubscription = {
                Old: { StorageLimit: 0, TotalStorage: 0, AdminLimit: 0, TotalAdmin: 0 },
                New: { StorageLimit: 0, TotalStorage: 0, AdminLimit: 0, TotalAdmin: 0 },
            }

            $scope.$on("$destroy", function (event) {
                clearInterval(xtimer);
            });
            $scope.notiftime = 5000;
            $scope.xtimer = 0;
            $scope.startCounting = function () {
                $scope.xtimer = setInterval(() => {
                    /*$scope.getActivityCounter();*/
                }, 5000);
            };
            /*--------------------------------------------------------------
            INIT DATA
            --------------------------------------------------------------*/

            angular.element(document).ready(function () {
                $scope.getCompanyOwned();
                $("#content").show();
            });
            $scope.getActivityCounter = function () {
                $scope.products = [];
                $http.post('@Url.Action("GetActivityCounterCompany", "Dashboard")', {companyId: $scope.selectedCompany.Id}).then(function (response) {
                    if (response.data) {
                        $scope.counter = response.data;
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }
            $scope.getCompanySubscriptionLimit = function () {
                $http.post('@Url.Action("GetCompanySubscriptionLimit", "Dashboard")', { companyId: $scope.selectedCompany.Id }).then(function (response) {
                    if (response.data) {
                        $scope.companySubscription = response.data;
                        console.log($scope.companySubscription);
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            };
            $scope.getCompanyOwned = function () {
                $http.post('@Url.Action("GetCompaniesOwnedByUser", "Company")', {}).then(function (response) {
                    if (response.data) {
                        $scope.companyOwned = response.data;
                        $scope.selectedCompany = $scope.companyOwned[0];
                        $scope.getDashboardRotationStatus();
                        $scope.getActivityCounter();
                        // Belum di tampilkan
                        $scope.getCompanySubscriptionLimit();
                    }
                })
            }
            $scope.setSelectedCompany = function (x) {
                $scope.selectedCompany = x;
                $scope.getCompanySubscriptionLimit();
                $scope.getDashboardRotationStatus();
                $scope.getActivityCounter();
            }

            /*--------------------------------------------------------------
            CONVERT JSON DATE
            --------------------------------------------------------------*/
            $scope.openInbox = function (id) {
                location.href = "/inbox?id=" + id;
            }
            /////////////////// TAG MANIPULATION ////////////////////////////
            $scope.backCount = 0;
            $("#newTag").bind("paste", function (e) {
                // Short pause to wait for paste to complete
                setTimeout(function () {
                    $scope.tagPasteHandler();
                }, 50);
            });
            $scope.changeTag = function (index) {
                $scope.newTag = $scope.model.Tags[index];
                $scope.model.Tags.splice(index, 1);
                $scope.backCount = 0;
                $("#newTag").focus();
                $scope.getDashboardRotationStatus();
            }
            $scope.backToLastTag = function () {
                if ($scope.newTag === "" && $scope.backCount < 1) { $scope.backCount += 1; return;}
                if ($scope.newTag === "" && $scope.backCount > 0) {
                    if ($scope.model.Tags.length < 1) { $scope.backCount = 0; return;}
                    $scope.newTag = $scope.model.Tags[$scope.model.Tags.length - 1];
                    $scope.model.Tags.splice($scope.model.Tags.length - 1, 1);
                    $scope.backCount = 0;
                    $scope.getDashboardRotationStatus();
                }
            }
            $scope.tagPasteHandler = function () {
                var splittedTag = $scope.newTag.split(/[\n,]+/);
                if (splittedTag.length < 1) { return; }
                if (splittedTag.length < 2) { $scope.newTag = splittedTag[0]; return;}
                $scope.newTag = splittedTag[splittedTag.length - 1];
                splittedTag.splice(splittedTag.length - 1, 1);
                splittedTag.forEach(function (item, index) {
                    item = item.replace(",","");
                    var alreadyUsed = false;
                    $scope.model.Tags.some(function (element, i) {
                        if (item.toLowerCase() === element.toLowerCase()) {
                            alreadyUsed = true;
                            return;
                        }
                    })
                    if (!alreadyUsed) {
                        $scope.model.Tags.push(item);
                    }
                });
                $scope.backCount = 0;
                $scope.getDashboardRotationStatus();
            }
            $scope.addTagList = function () {
                var splittedTag = $scope.newTag.split(/[\n,]+/);
                if (splittedTag.length < 1) { $scope.newTag = ""; return; }
                if (splittedTag.length < 2) { $scope.newTag = splittedTag[0];}
                var alreadyUsed = false;
                if ($scope.newTag != "" && $scope.newTag != ",") {
                    $scope.newTag = $scope.newTag.replace(",", "");
                    $scope.model.Tags.some(function (element, i) {
                        if ($scope.newTag.toLowerCase() === element.toLowerCase()) {
                            alreadyUsed = true;
                            return;
                        }
                    })
                    if (!alreadyUsed) {
                        $scope.model.Tags.push($scope.newTag);
                        $scope.getDashboardRotationStatus();
                    }
                }
                $scope.backCount = 0;
                $scope.newTag = "";
            }
            $scope.removeTag = function (index) {
                $scope.model.Tags.splice(index, 1);
                $scope.backCount = 0;
                $scope.getDashboardRotationStatus();
            }
            /////////////////// END TAG MANIPULATION ////////////////////////////
            /*--------------------------------------------------------------
            Dashboard Rotation Status
            --------------------------------------------------------------*/
            $scope.getDashboardRotationStatus = function () {
                $http.post('@Url.Action("GetRotationsByCompany", "Dashboard")',
                    { companyId: $scope.selectedCompany.Id, tags: $scope.model.Tags, page: $scope.pageRotationStatus, pageSize: $scope.totalRotationStatusPerPage }).then(function (response)
                {
                    if (response.data) {
                        $scope.listRotationStatus = response.data;
                        $scope.dashboardRotationStatusCountAll();
                    }
                }, function (response) {
                    //error handle\
                        var x = 0;
                });
            }
            $scope.dashboardRotationStatusCountAll = function () {
                $http.post('@Url.Action("CountRotationsByCompany","Dashboard")', { companyId: $scope.selectedCompany.Id, tags: $scope.model.Tags }).then(function (response) {
                    if (response.data) {
                        $scope.rotationStatusPaging = [];
                        var jumlahData = response.data;
                        var jumlahPage = Math.ceil(jumlahData / $scope.totalRotationStatusPerPage);
                        for (var i = 1; i <= jumlahPage; i++) {
                            $scope.rotationStatusPaging.push(i);
                        }
                        $scope.pageRotationStatus = 1;
                    }
                }, function (response) {
                    var x = 0;
                });
            }
            $scope.getDashboardRotationStatusPage = function (pageTarget) {
                $http.post('@Url.Action("GetRotationsByCompany", "Dashboard")',
                    { companyId: $scope.selectedCompany.Id, tags: $scope.model.Tags, page: pageTarget, pageSize: $scope.totalRotationStatusPerPage }
                ).then(function (response) {
                    if (response.data) {
                        var saved = $scope.rotationStatusPaging;
                        $scope.rotationStatusPaging = [];
                        $scope.rotationStatusPaging = saved;
                        $scope.listRotationStatus = response.data;
                        $scope.pageRotationStatus = pageTarget;
                    }
                }, function (response) {
                    //error handle\
                        var x = 0;
                });
            }
            /*--------------------------------------------------------------
            CSV Handling
            --------------------------------------------------------------*/
            $scope.convertToCSV = function (objArray) {
                var array = typeof objArray !== 'object' ? JSON.parse(objArray) : objArray;
                var str = '';
                for (var i = 0; i < array.length; i++) {
                    var line = '';
                    for (var index in array[i]) {
                        if (line != '') {line += ',';}
                        if (typeof array[i][index] === 'object') {
                            var penggantiobj = array[i][index];
                            for (var index2 in penggantiobj) {
                                line += penggantiobj[index2];
                            }
                        } else {
                            line += array[i][index];
                        }
                    }
                    str += line + '\r\n';
                }
                return str;
            }
            $scope.exportCSVFile = function (headers, items, string, fileTitle) {
                if (headers) {
                    items.unshift(headers);
                }
                if (string == null) {
                    // Convert Object to JSON
                    var jsonObject = JSON.stringify(items);
                    var csv = $scope.convertToCSV(jsonObject);
                    var exportedFilename = fileTitle + '.csv' || 'export.csv';
                }
                else {
                    var csv = string;
                    var exportedFilename = fileTitle + '.csv' || 'export.csv';
                }
                var blob = new Blob([csv], { type: 'text/csv;' });
                if (navigator.msSaveBlob) { // IE 10+
                    navigator.msSaveBlob(blob, exportedFilename);
                } else {
                    var link = document.createElement("a");
                    if (link.download !== undefined) { // feature detection
                        // Browsers that support HTML5 download attribute
                        var url = URL.createObjectURL(blob);
                        link.setAttribute("href", url);
                        link.setAttribute("download", exportedFilename);
                        link.style.visibility = 'hidden';
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                }
            }
            $scope.exportRotationListToCSV = function () {
                var filename = $scope.model.Tags.toString() + "_" + $scope.selectedCompany.Name + "_RotationStatus";
                $scope.exportCSVFile(null, $scope.listRotationStatus, null, filename);
            }

            // export to csv all the rotation status
            $scope.exportAllRotationStatusToCSV = function () {
                $http.post('@Url.Action("ExportAllRotationStatusToCSV", "Dashboard")',
                    { companyId: $scope.selectedCompany.Id, companyName: $scope.selectedCompany.Name }
                ).then(function (response) {
                    var filename = $scope.selectedCompany.Name + "_AllRotationStatus";
                    $scope.exportCSVFile(null, $scope.listRotationStatus, response.data, filename);
                }, function (response) {
                        //error handle
                        console.log(response);
                    }
                );
            }

            // Belum digunakan
            $scope.sendEmailNotifikasiRotasi = function (index) {
                $http.post('@Url.Action("sendEmailNotifikasiRotasi","Dashboard")', {}).then(function (response) {
                    if (response.data) {
                    } else {
                    }
                }, function (response) {
                });
            }
            $scope.getStatusName = function (status) {
                switch (status) {
                    case 0:
                        return "Open";
                        break;
                    case 1:
                        return "In Progress";
                        break;
                    case 2:
                        return "Pending";
                        break;
                    case 3:
                        return "Signed";
                        break;
                    case 5:
                        return "Revision";
                        break;
                    case 6:
                        return "Altered";
                        break;
                    case 90:
                        return "Completed";
                        break;
                    case 98:
                        return "Declined";
                        break;
                    case 99:
                        return "Canceled";
                        break;
                    case 10:
                        return "Waiting_For_Response";
                        break;
                    case 11:
                        return "Accepted";
                        break;
                    case 97:
                        return "Expired";
                        break;

                }
            };

            // belum dipake gue rasa
            $scope.linkPage = function (name) {
                var url=$filter('filter')($scope.dbmenus,{SecondaryKey:name})[0].UrlPage;
                location.href=url;
            }

            /*--------------------------------------------------------------
            GENERAL FUNCTION
            --------------------------------------------------------------*/
        });
        $(function () {
        });
        $(document).ready(function () {
        });
    </script>

</body>