@using DRD.Models.View;
@model Layout

@{
    ViewBag.Title = "Inbox Detail";
    ViewBag.Submenu = "INBOX";
}

@section Scripts
{
    <script src="/assets/js/plugins/buttons/spin.min.js" type="text/javascript"></script>
    <script src="/assets/js/plugins/buttons/ladda.min.js" type="text/javascript"></script>
    <script src="/assets/js/pages/components_buttons.js" type="text/javascript"></script>

    <script src="/assets/vendors/angular-1.5.5/angular.js"></script>
    <script src="/assets/vendors/angular-1.5.5/angular-animate.js"></script>
    <script src="/Scripts/ui-bootstrap-tpls-1.3.2.js"></script>

    <script src="/assets/vendors/file-upload/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/assets/vendors/file-upload/ng-file-upload.min.js"></script>
    <script src="/assets/vendors/ng_only_number.js"></script>

    <link href="/assets/vendors/bootstrap-switch/bootstrap3/bootstrap-switch.css" rel="stylesheet" type="text/css" />
    <script src="/assets/vendors/bootstrap-switch/bootstrap-switch.js"></script>

    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switch.min.js"></script>

    <script type="text/javascript" src="/assets/js/plugins/notifications/bootbox.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/notifications/sweet_alert.min.js"></script>

    <script src="/html2pdf-master/dist/html2pdf.bundle.js"></script>
    <script src="/assets/vendors/ng_only_number.js"></script>
    <script src="/assets/vendors/angular-1.5.5/angular-sanitize.min.js"></script>
    <script src="~/Scripts/xpublic.js"></script>

    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switch.min.js"></script>

}
@section Styles{
    <link href="/assets/css/pages/inbox.css" rel="stylesheet" type="text/css">
}

<body>
    <h4>
        <a class="btn" href="/inbox/list" style="border-radius:15px;text-align:center;padding:5px;margin-left:20px;font-weight:800;background-color:#5D90AE;color:white;"><i class="icon-envelope"></i></a> @ViewBag.Title
    </h4>
    <!-- Page container -->
    <div class="page-container" ng-controller="drdController">
        <div >
            <div class="col-md-12">

            </div>
        </div>
        <!-- Content area -->
        <div class="content">
            <!-- Basic layout-->
            <div class="panel panel-flat container-fluid">
                
                <div ng-show="wizarno=='success'" style="height:50px;margin-top:10px" class="alert alert-success alert-styled-left">
                    Data successfully saved.
                </div>

                <div style="padding-left:40px; padding-right:40px">
                    <h4 style="margin-bottom:0px;margin-top:20px">Rotation : {{model.Subject}}</h4>
                    {{currentRotationNode.WorkflowNode.Caption}}
                    <div ng-show="model.Tags.length>0" style="margin-top:5px">
                        <span style="margin-top:5px;padding:5px 10px;margin-right:5px;font-size:10px;border-radius:5px;background-color:#f3f3f3;color:black;" ng-repeat="tag in model.Tags">
                            {{tag}}
                        </span>
                    </div>
                    <hr>
                </div>

                <!--MEMBER DATA-->

                <form name="myForm" class="form-horizontal" autocomplete="off">
                    <div class="row" style="padding-left:40px; padding-right:40px">
                        <div class="col-md-12">
                            <button ng-show="checkIsActive()" type="button" data-target="#rot-log" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="rot-log" class="btn" style="color:white; background-color:#818181">
                                Activity Log
                            </button>
                            <button ng-show="checkIsActive() && sumDocuments.length>0" type="button" data-target="#doc-sum" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="doc-sum" class="btn" style="color:white; background-color:#818181">
                                Document Summary
                            </button>
                            <div class="{{checkIsActive()?'collapse':'collapse show'}}" id="rot-log">
                                <div ng-show="loadingLog==1">
                                    <i class="icon-spinner2 spinner"></i>
                                    <span>Loading log...</span>
                                </div>
                                <ng-include src="'/Include/RotationLog'" onload="finishLoading()"></ng-include>
                            </div>
                            <div class="{{checkIsActive()?'collapse':'collapse show'}}" id="doc-sum">
                                <ng-include src="'/Include/DocumentSummary'" onload="finishLoading()"></ng-include>
                            </div>

                        </div>
                        <div class="col-md-12">

                            <div class="row" ng-show="model.DecissionInfo!=''">
                                @*<div class="col-md-10">
                                <label class="control-label">Value to decision ({{model.DecissionInfo}})</label>
                                <input type="text" class="form-control" ng-model="model.Value" ng-required="wizarno=='product' && model.DecissionInfo!=''" maxlength="100" />*@
                            </div>
                        </div>
                        <hr />
                        <div class="row" ng-show="!isCompleteRotation() && checkIsActive()">
                            <div class="col-md-12">
                                <h3>Document</h3>
                            </div>
                            <button class="btn btn-flat" ng-show="checkIsFirstPerson() && checkIsActive()" style="margin-left:10px;background-color:#075685; color:white; width:100px;height:50px" data-toggle="tooltip" title="upload a document" ng-click="popupDocument()">
                                <i class="icon-plus2"></i> Add
                            </button>
                        </div>
                        <div class="row" ng-show="!isCompleteRotation() && checkIsActive()">
                            <div style="border:groove grey;border-width:thin; min-height:66px; margin-top:10px" class="col-lg-12">
                                <div style="height:5px"></div>
                                <table class="table-xs table-hover datatable-highlight" style="font-size:small;width:100%">
                                    <tbody>
                                        <tr ng-show="docs.length==0"><td style="text-align:center"> You need to upload a pdf document</td></tr>
                                        <tr style="vertical-align:central; cursor:pointer;" ng-repeat="x in docs" ng-show="!validAction(x.FlagAction, 64)">
                                            <td style="max-width:90%" ng-click="viewDocument($index)" class="text-top">

                                                <img ng-src="/Images/FileType/{{x.Document.Extention}}.png" width="50" />
                                                {{x.Document.FileName}}

                                            </td>
                                            <td style="height:50px;width:20%" class="text-top">
                                                <!--<button class="btn pull-right" style="color:black;background-color: #AFC9D8;border: none;color: white;width:100px;padding: 10px 12px;cursor: pointer; margin-bottom:5px;" data-toggle="tootltip" title="set up document" ng-click="removeDocument($index);">set up</button> -->
                                                <button ng-show="checkIsFirstPerson()" class="btn pull-right" style="margin:5px;background-color: maroon;border: none;color: white;width:100px;padding: 10px 12px;cursor: pointer;" data-toggle="tootltip" title="remove document" ng-click="removeDocument($index);">remove</button>
                                                <button ng-show="checkIsFirstPerson()" class="btn pull-right" style="margin:5px; color:black;background-color: #AFC9D8;border: none;color: white;width:100px;padding: 10px 12px;cursor: pointer;" data-toggle="tootltip" title="Set up the initial and dignature" ng-click="revisedDocument($index);">Set Up</button>
                                                <button ng-show="(!checkIsFirstPerson() && validAction(x.Document.DocumentUser.FlagPermission,2))" class="btn pull-right" style="color:black;background-color: #AFC9D8;border: none;color: white;width:100px;padding: 10px 12px;cursor: pointer; margin:5px; " data-toggle="tootltip" title="give scracth or note to be revised by the uploader" ng-click="revisedDocument($index);">{{(validAction(x.FlagAction,2)?'Revised':'Revision')}}</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr />
                        <br />
                        <div class="col-md-12" style="display:none" id="action-panel" ng-show="!isCompleteRotation()">
                            <div class="text-center">
                                <button style="width:100px;height:50px" type="button" ng-show="!checkIsFirstPerson() && checkIsActive()" class="btn bg-brown btn-ladda btn-submit" data-spinner-color="#333" data-style="zoom-in" ng-click="processActivity(4)"><span class="ladda-label">Revision</span></button>
                                <button style="width:100px;height:50px" type="button" ng-show="!checkIsFirstPerson() && checkIsActive() && (!validAction(model.FlagAction, 2))" class="btn btn-danger btn-ladda btn-submit" data-style="zoom-in" ng-click="processActivity(2)"><span class="ladda-label">Reject</span></button>
                                <button style="width:100px;height:50px" type="button" ng-show="validAction(model.FlagAction,8) && checkIsActive() && ((!validAction(model.FlagAction, 2)) || checkIsFirstPerson())" class="btn bg-info btn-ladda btn-submit" data-style="zoom-in" ng-click="processActivity(8)"><span class="ladda-label">Alter</span></button>
                                <button style="width:100px;height:50px" type="button" ng-show="checkIsActive() && ((!validAction(model.FlagAction, 2)) || checkIsFirstPerson())" class="btn bg-grey-800 btn-ladda btn-submit" data-style="zoom-in" ng-click="processActivity(1)"><span class="ladda-label">Submit</span></button>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- View member modal -->
                <ng-include src="'/Include/PopupDocument'"></ng-include>
                <ng-include src="'/Include/PopupPassword'"></ng-include>
                <ng-include src="'/Include/PopupIdentityImage'"></ng-include>
                <ng-include src="'/Include/PdfIViewer'" onload="finishLoading()"></ng-include>

                <!-- View member modal -->
                <!--/MEMBER DATA-->
                <!--CONFIRMATION THANK YOU-->
            </div>

            <!-- /basic layout -->
        </div>
        <!-- /vertical form options -->

    </div>
    <!-- /Page container -->

    <script type="text/javascript">
        var myApp = angular.module('drdApp', ['ngAnimate', 'ui.bootstrap', 'ngFileUpload', 'ngOnlyNumberApp', ]);

        myApp.directive('onFinishRender', function ($timeout) {
            return {
                restrict: 'A',
                link: function (scope, element, attr) {
                    if (scope.$last === true) {
                        $timeout(function () {
                            scope.$emit('ngRepeatBindRoutesFinished');
                        });
                    }
                }
            };
        });

        myApp.controller("drdController", function ($scope, Upload, $location, $http, $filter) {
            // modal document
            $scope.fromSelectDoc = false;
            $scope.companyId = -1;
            $scope.document = {};
            $scope.documents = [];
            $scope.documentCount = [];
            // modal workflow
            $scope.workflow = {};
            $scope.workflows = [];
            $scope.workflowCount = [];
            $scope.paging = [];
            $scope.kriteria = "";
            $scope.page = 1;
            $scope.row = 20;
            $scope.currPage = 0;
            $scope.index = 0;

            $scope.model = {};
            $scope.wizarno = 'product';
            $scope.master = {};
            $scope.model.IsActive = true;
            $scope.model.Image = "no_picture.png";
            $scope.docFileName = "";
            $scope.fileTypeImage = "no_document.png";
            $scope.model.Id = 0;
            $scope.rotationId = 0;
            $scope.model.Status = 0;
            $scope.isUpload = 0;
            $scope.infoSuccess = "Data berhasil disimpan.";

            $scope.currentRotationNode = {};
            $scope.tempDoc = {};
            $scope.docs = [];
            $scope.updocs = [];
            $scope.annos = [];
            $scope.loadingLog = 1;
            $scope.selectedIdx;
            $scope.curentUser;
            $scope.passwordType = 0;
            $scope.passwordcheck = false;
            $scope.isRevising = false;
            $scope.isUploading = false;
            $scope.docIdx = 0;
            $scope.identities = [];
            initValues();
            //initDocumentValues();

            $(".control-warning").uniform({
                radioClass: 'choice',
                wrapperClass: 'border-warning-600 text-warning-800'
            });

            $scope.$on('ngRepeatBindRoutesFinished', function (ngRepeatFinishedEvent) {

            });
            /*--------------------------------------------------------------
            INIT DATA
            --------------------------------------------------------------*/
            angular.element(document).ready(function () {
                $scope.thePassword = "";
                $(".content-wrapper").show();
            });

            function initValues() {
                $scope.curentUser = @Html.Raw(Json.Encode(Model.user));
                $scope.inboxId = @Html.Raw(Json.Encode(Model.dataId));
                $scope.dbmenus = @Html.Raw(Json.Encode(Model.dbmenus));
                var product = @Html.Raw(Json.Encode(Model.obj));

                if (product.id != 0) {
                    $scope.model.Id = $scope.inboxId;
                    $scope.rotationId = product.Id;
                    $scope.model.RotationNodeId = product.RotationNodeId;
                    $scope.model.FirstNodeId = product.FirstNodeId;
                    $scope.model.DefWorkflowNodeId = product.DefWorkflowNodeId;
                    $scope.model.Subject = product.Subject;
                    $scope.model.CurrentActivity = product.CurrentActivity;
                    $scope.model.Status = product.Status;
                    $scope.model.Remark = product.Remark;
                    $scope.model.Value = product.RotationNodes[product.RotationNodes.length - 1].Value;
                    $scope.model.FlagAction = product.FlagAction;
                    $scope.model.DecissionInfo = product.DecissionInfo;
                    $scope.model.UserId = product.UserId;
                    $scope.model.Tags= product.Tags;
                    $scope.rotationNodes = product.RotationNodes;
                    $scope.workflow = product.Workflow;
                    $scope.currentRotationNode = product.RotationNodes.filter((subject) => subject.Id == product.RotationNodeId)[0];
                    $scope.sumDocuments = product.SumRotationNodeDocs;
                    $scope.sumAttachments = product.SumRotationNodeUpDocs;

                    if ($scope.model.Status == 0) {
                        if ($scope.currentRotationNode.SenderRotationNodeId != null) {
                            var sender = angular.copy($scope.currentRotationNode);
                            // copy doc and updoc from sender
                            var sender = angular.copy($scope.rotationNodes.filter((subject) => subject.Id == $scope.currentRotationNode.SenderRotationNodeId)[0]);
                            if (sender.RotationNodeDocs.length > 0) {
                                var tempDocs = sender.RotationNodeDocs;
                                for (i = 0; i < tempDocs.length; i++) {
                                    if ((tempDocs[i].FlagAction & 64) != 64) {
                                        tempDocs[i].FlagAction = 0;
                                        $scope.docs.push(tempDocs[i]);
                                    }
                                }
                            }
                            if (sender.RotationNodeUpDocs.length > 0)
                                $scope.updocs = sender.RotationNodeUpDocs;
                        }
                    }

                } else {
                    // error response, 404 inbox
                }
                $('#checkbox1').bootstrapSwitch.defaults.size = 'mini';
            }

            function initDocumentValues() {
                var product = @Html.Raw(Json.Encode(Model.obj));
                console.log(product);
                if (product.Id!=0 ){
                    $scope.model.Id=product.Id;
                    $scope.model.Title=product.Title;
                    $scope.model.Descr=product.Descr;
                    $scope.model.FileName=product.FileName;
                    $scope.model.FileNameOri = product.FileNameOri;
                    $scope.model.Extention = product.Extention;
                    $scope.model.FileSize=product.FileSize;
                    $scope.model.MaxPrint=product.MaxPrint;
                    $scope.model.MaxDownload=product.MaxDownload;
                    $scope.model.ExpiryDay=product.ExpiryDay;
                    $scope.model.Version=product.Version;
                    $scope.model.AppZone=product.AppZone;
                    $scope.model.UserId=product.UserId;
                    $scope.pdfFileName=product.FileName;
                    $scope.isUpload=1;
                    $scope.fileTypeImage=product.Extention+".png";
                    $scope.annos=[];
                    for(i=0;i<product.DocumentAnnotates.length;i++){
                        var ix=product.DocumentAnnotates[i];
                        var item={};
                        item.Id=ix.Id;
                        item.SvgId='svg'+i;
                        item.Page=ix.Page;
                        item.AnnotateType=ix.AnnotateTypeId;
                        item.LeftPosition=ix.LeftPosition;
                        item.TopPosition=ix.TopPosition;
                        item.WidthPosition=ix.WidthPosition;
                        item.HeightPosition=ix.HeightPosition;
                        item.Color=ix.Color;
                        item.BackColor=ix.BackColor;
                        item.Data=ix.Data;
                        item.Data2=ix.Data2;
                        item.Rotation=ix.Rotation;
                        item.ScaleX=ix.ScaleX;
                        item.ScaleY=ix.ScaleY;
                        item.TransitionX=ix.TransitionX;
                        item.TransitionY=ix.TransitionY;
                        item.StrokeWidth=ix.StrokeWidth;
                        item.Opacity=ix.Opacity;
                        item.Flag=ix.Flag;
                        item.FlagCode=ix.FlagCode;
                        item.FlagDate=convertJsonDate(ix.FlagDate);
                        item.FlagImage=ix.FlagImage;
                        item.CreatorId=ix.CreatorId;
                        item.ElementId = ix.ElementId;
                        item.Element = ix.Element;
                        item.Annotate=ix.Annotate;
                        $scope.annos.push(item);
                    }

                }
            }
            $scope.initData = function () {

            };

            $scope.showPasswordModal = function () {
                var val = document.getElementById("thePassword");
                val.value = "";
                $scope.thePassword = "";
                $("#modal_password").modal("show");
            };
            $scope.setPassword = function () {
                var val = document.getElementById("thePassword");
                var thePassword = val.value;
                $http.post('/user/ValidationPassword', { userId: $scope.model.UserId, password: thePassword }).then(function (response) {
                    if (response.data == true) {
                        $scope.passwordcheck = true;
                        $scope.submitActivityProcess(1);
                        return true;
                    } else
                        $scope.passwordcheck = false;
                    return;
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            };
            /*--------------------------------------------------------------
            CONVERT JSON DATE
            --------------------------------------------------------------*/
            $scope.convertJsonDate = function (val) {
                if (val == undefined)
                    return '';
                return new Date(parseInt(val.substr(6)));
            }
            // Settings anno scope with data given
            $scope.setAnnos = function (givenItem) {
                $scope.annos = [];
                for (i = 0; i < givenItem.length; i++) {
                    var ix = givenItem[i];
                    if (ix.IsDeleted) continue;
                    var item = {};
                    item.SvgId = 'svg' + i;
                    item.Page = ix.Page;
                    item.ElementType = (ix.ElementTypeId == undefined ? ix.ElementType : ix.ElementTypeId);
                    item.LeftPosition = ix.LeftPosition;
                    item.TopPosition = ix.TopPosition;
                    item.WidthPosition = ix.WidthPosition;
                    item.HeightPosition = ix.HeightPosition;
                    item.Color = ix.Color;
                    item.BackColor = ix.BackColor;
                    item.Data = ix.Data;
                    item.Data2 = ix.Data2;
                    item.Rotation = ix.Rotation;
                    item.ScaleX = ix.ScaleX;
                    item.ScaleY = ix.ScaleY;
                    item.TransitionX = ix.TransitionX;
                    item.TransitionY = ix.TransitionY;
                    item.StrokeWidth = ix.StrokeWidth;
                    item.Opacity = ix.Opacity;
                    item.Flag = ix.Flag;
                    item.FlagCode = ix.FlagCode;
                    item.FlagDate = convertJsonDate(ix.FlagDate);
                    item.FlagImage = ix.FlagImage;
                    item.CreatorId = ix.CreatorId;
                    item.ElementId = ix.ElementId;
                    item.Element = ix.Element;
                    item.IsDeleted = ix.IsDeleted;
                    $scope.annos.push(item);
                }
            };
            /*--------------------------------------------------------------
                DOCUMENT VIEW FUNCTION FOR SUMMARY DOCUMENT
            --------------------------------------------------------------*/
            $scope.viewDocumentSummary = function (arg) {
                if (arg.Document.DocumentUser == undefined) {
                    showInfo("You don't have permission le.");
                    return;
                }
                if (arg.Document.DocumentUser == null) {
                    showInfo("You don't have permission to his file.");
                    return;
                }
                if ((arg.Document.DocumentUser.FlagPermission & 4) != 4 ) {
                    showInfo("You rmission to open this file.");
                    return;
                }
                var iframe = document.getElementById('xpdfIFrame');
                if (iframe.contentWindow == null)
                    return;

                var iframe = document.getElementById('xpdfIFrame');
                // Reset everytime document want to open
                iframe.contentWindow.angular.element("#xpdfController").scope().setEmptyPdf();
                iframe.contentWindow.angular.element("#xpdfController").scope().resetAnnoItems();
                $http.post('/document/openfile', { fileName: arg.Document.FileUrl }).then(function (response) {
                    if (response.data) {
                        $scope.openDocumentSumarryViewer(iframe, arg, response.data);
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            };
            $scope.openDocumentSumarryViewer = function (iframe, arg, fileName) {
                $scope.setAnnos(arg.Document.DocumentElements);
                iframe.contentWindow.angular.element("#xpdfController").scope().setDefaultPdf(fileName, false);
                iframe.contentWindow.angular.element("#xpdfController").scope().setAnnoItems($scope.annos);
                iframe.contentWindow.angular.element("#xpdfController").scope().setAnnoToolbarVisible(false);
                var permission = arg.Document.DocumentUser.FlagPermission;
                iframe.contentWindow.angular.element("#xpdfController").scope().showDownload($scope.isCompleteRotation() && ((permission & 16) == 16) && ((arg.FlagAction & 64) != 64));
                iframe.contentWindow.angular.element("#xpdfController").scope().showPrint($scope.isCompleteRotation() && ((permission & 8) == 8) && ((arg.FlagAction & 64) != 64));
                iframe.contentWindow.angular.element("#xpdfController").scope().setDownloadFileName(arg.Document.FileName);
                // used for print request and download request in document viewer.
                iframe.contentWindow.angular.element("#xpdfController").scope().setRotationId($scope.rotationId);
                $("#modal_pdf_viewer").modal("show");
            };

            /*--------------------------------------------------------------
                DOCUMENT VIEW FUNCTION
            --------------------------------------------------------------*/
            $scope.viewDocument = function (idx) {
                var doc = $scope.docs[idx];
                var iframe = document.getElementById('xpdfIFrame');
                // Reset everytime document want to open
                iframe.contentWindow.angular.element("#xpdfController").scope().setEmptyPdf();
                iframe.contentWindow.angular.element("#xpdfController").scope().resetAnnoItems();
                $http.post('/document/openfile', { fileName: doc.Document.FileUrl }).then(function (response) {
                    if (response.data) {
                        $scope.openDocumentViewer(iframe, idx, response.data);
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            };
            $scope.openDocumentViewer = function (iframe, idx, fileName) {
                var doc = $scope.docs[idx];
                $scope.model.FlagAction |= 4;
                doc.FlagAction |= 4;
                $scope.setAnnos(doc.Document.DocumentElements);
                if (iframe.contentWindow == null)
                    return;
                iframe.contentWindow.angular.element("#xpdfController").scope().setDefaultPdf(fileName, false);
                iframe.contentWindow.angular.element("#xpdfController").scope().setAnnoItems($scope.annos);
                iframe.contentWindow.angular.element("#xpdfController").scope().setAnnoToolbarVisible(false);
                $("#modal_pdf_viewer").modal("show");
            };
            /*--------------------------------------------------------------
                DOCUMENT REVISED FUNCTION
            --------------------------------------------------------------*/
            $scope.revisedDocument = function (idx) {
                var doc = $scope.docs[idx];
                var iframe = document.getElementById('xpdfIFrame');
                $scope.isRevising = true;
                // Reset everytime document want to open
                iframe.contentWindow.angular.element("#xpdfController").scope().setEmptyPdf();
                iframe.contentWindow.angular.element("#xpdfController").scope().resetAnnoItems();
                $http.post('/document/openfile', { fileName: doc.Document.FileUrl }).then(function (response) {
                    if (response.data) {
                        $scope.openDocumentRevision(iframe, idx, response.data);
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            };

            $scope.openDocumentRevision = function (iframe, idx, fileName) {
                var doc = $scope.docs[idx];
                if (!checkIsFirstPerson()) {
                $scope.model.FlagAction |= 2;
                doc.FlagAction |= 2;
                }
                $scope.setAnnos(doc.Document.DocumentElements);
                if (iframe.contentWindow == null)
                    return;
                iframe.contentWindow.angular.element("#xpdfController").scope().setDefaultPdf(fileName, false);
                iframe.contentWindow.angular.element("#xpdfController").scope().setAnnoItems($scope.annos);
                iframe.contentWindow.angular.element("#xpdfController").scope().setAnnoToolbarVisible(true);
                iframe.contentWindow.angular.element("#xpdfController").scope().setFirstPersonToolbar($scope.checkIsFirstPerson());
                iframe.contentWindow.angular.element("#xpdfController").scope().setRotationId($scope.rotationId);
                isdefineiframe = true;
                $scope.selectedIdx=idx;
                $("#modal_pdf_viewer").modal("show");
                $(window).on('beforeunload', function(){ return "";});
                /*$('#modal_pdf_viewer').on('hidden.bs.modal', revisiFinished);*/
            };



            $scope.closePdf = function () {
                console.log("revise");
                if ($scope.isRevising) {
                    var items = document.getElementById("xpdfIFrame").contentWindow.angular.element("#xpdfController").scope().getAnnoItems();
                    if (items != [] && items != null && items != undefined) {

                        swal({
                            title: "Confirmation",
                            text: "Do you want to save these changes?",
                            type: "warning",
                            showCancelButton: true,
                            closeOnConfirm: true,
                            closeOnCancel: true,
                            confirmButtonColor: "#2196F3",
                            showLoaderOnConfirm: true,
                            confirmButtonText: "Yes ",
                            cancelButtonText: "No",
                        },
                            function (isConfirm) {
                                if (isConfirm) {
                                    $scope.docs[$scope.selectedIdx].Document.DocumentElements = items;
                                    $scope.$apply();
                                    if ($scope.fromSelectDoc) {
                                        $("#modal_select_document").modal("show");
                                        $scope.fromSelectDoc = false;
                                    }
                                }
                                $("#modal_pdf_viewer").modal("hide");
                            });
                    }
                } else if ($scope.isUploading) {
                    var items = document.getElementById("xpdfIFrame").contentWindow.angular.element("#xpdfController").scope().getAnnoItems();

                        $scope.annos = items;
                        $("#modal_pdf_viewer").modal("hide");
                        if ($scope.fromSelectDoc) {
                            $("#modal_select_document").modal("show");
                            $scope.fromSelectDoc = false;
                        }

                } else {
                        $("#modal_pdf_viewer").modal("hide");

                }
                $scope.isRevising = false;
                $scope.isUploading = false;
                console.log($scope.isRevising );


            }
            /*--------------------------------------------------------------
               DOCUMENT FIRST TIME SETUP DOCUMENT
           --------------------------------------------------------------*/
            var isdefineiframe=false;
            $scope.annoDocument = function () {
                $("#modal_select_document").modal("hide");
                $scope.fromSelectDoc = true;
                $scope.isUploading = true;

                var iframe = document.getElementById('xpdfIFrame');
                // Reset everytime document want to open
                iframe.contentWindow.angular.element("#xpdfController").scope().setEmptyPdf();
                iframe.contentWindow.angular.element("#xpdfController").scope().resetAnnoItems();
                $http.post('/document/openfile', { fileName: $scope.model.FileName }).then(function (response) {
                    if (response.data) {
                        $scope.openDocument(iframe, response.data, true);
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            };



            $scope.openDocument = function (iframe, fileName, isNew) {
                if (iframe.contentWindow == null)
                    return;
                iframe.contentWindow.angular.element("#xpdfController").scope().setDefaultPdf(fileName, isNew);
                iframe.contentWindow.angular.element("#xpdfController").scope().setAnnoItems($scope.annos);
                iframe.contentWindow.angular.element("#xpdfController").scope().setAnnoToolbarVisible(true);
                iframe.contentWindow.angular.element("#xpdfController").scope().setRotationId($scope.rotationId);
                isdefineiframe = true;
                $("#modal_pdf_viewer").modal("show");
                $(window).on('beforeunload', function(){ return "";});
                /*$('#modal_pdf_viewer').on('hidden.bs.modal', annoFinished);*/
            };
            var annoFinished = function (e) {
                $('#modal_pdf_viewer').off('hidden.bs.modal', revisiFinished);
                var items = document.getElementById("xpdfIFrame").contentWindow.angular.element("#xpdfController").scope().getAnnoItems();
                $scope.annos = items;
                if ($scope.fromSelectDoc) {
                    $("#modal_select_document").modal("show");
                    $scope.fromSelectDoc = false;
                }
            };

            var isok=false;
            $scope.printDocument = function (idx) {
                var doc = $scope.docs[idx];
                var iframe = document.getElementById('xpdfIFrame');
                iframe.contentWindow.angular.element("#xpdfController").scope().setEmptyPdf();
                $http.post('/document/openfile', { fileName: doc.Document.FileName }).then(function (response) {
                    if (response.data) {
                        $scope.openPrintDocument(idx, response.data);
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            };

            $scope.checkIsFirstPerson = function () {
                return $scope.model.DefWorkflowNodeId == $scope.model.FirstNodeId;
            };

            $scope.checkIsActive = function () {
                return $scope.model.Status == '00';
            };

            $scope.openPrintDocument = function (idx, fileName) {
                var doc = $scope.docs[idx];
                doc.FlagAction |= 8;
                setAnnos(idx);
                if (!isok) {
                    var iframe = document.getElementById('xpdfIFrameView');
                    iframe.contentWindow.angular.element("#xpdfController").scope().setDefaultPdf(fileName);//doc.Document.FileName);
                    iframe.contentWindow.angular.element("#xpdfController").scope().setAnnoItems($scope.annos);
                }
                isok = true;
                //setTimeout(function () {
                var element = $("iframe#xpdfIFrameView").contents()[0].getElementById('viewer');
                var mode = 'specify';
                var pagebreak = (mode === 'specify') ?
                    { mode: '', before: '.before', after: '.after', avoid: '.avoid' } :
                    { mode: mode };

                // Generate the PDF.
                html2pdf().from(element).set({
                    filename: mode + '.pdf',
                    pagebreak: pagebreak,
                    jsPDF: { orientation: 'portrait', unit: 'in', format: 'letter', compressPDF: false }
                }).save();
                //}, 1000);
            };

            $scope.downloadDocument = function (idx) {
                var doc = $scope.docs[idx];
                var iframe = document.getElementById('xpdfIFrame');
                iframe.contentWindow.angular.element("#xpdfController").scope().setEmptyPdf();
                $http.post('/document/openfile', { fileName: doc.Document.FileName }).then(function (response) {
                    if (response.data) {
                        $scope.openDownloadDocument(idx, response.data);
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            };

            $scope.openDownloadDocument = function (idx, fileName) {
                var doc = $scope.docs[idx];
                doc.FlagAction |= 16;
                setAnnos(idx);
                var iframe = document.getElementById('xpdfIFrame');
                iframe.contentWindow.angular.element("#xpdfController").scope().setDefaultPdf(fileName);//doc.Document.FileName);
                iframe.contentWindow.angular.element("#xpdfController").scope().setAnnoItems($scope.annos);
                iframe.contentWindow.angular.element("#xpdfController").scope().setAnnoToolbarVisible(false);
                iframe.contentWindow.angular.element("#xpdfController").scope().showDownload();
                iframe.contentWindow.angular.element("#xpdfController").scope().setRotationId($scope.rotationId);
                $("#modal_pdf_viewer").modal("show");
            };

            $scope.downloadAttchment = function (atth) {
                location.href = "/updownfile/xdownload?ufileName=" + atth.DocumentUpload.FileName + "&isDocument=false";
            };
            /*--------------------------------------------------------------
                User Signature Function
            --------------------------------------------------------------*/
            $scope.checkUserSignatureData = function () {
                $http.post('/document/CheckingSignature', { memberId: 0 }).then(function (response) {
                    if (response.data) {
                        if (response.data == -1) {
                            showError("Complete your user profiles to continue to sign this document. (KTP, initial, signature, and stamp)");
                            return false;
                        }
                        return true;

                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            };
            $scope.checkSignOrStamp = function () {
                for (var i = 0; i < $scope.docs.length; i++) {
                    var doc = {};
                    doc.Document = $scope.docs[i].Document;
                    doc.DocumentId = $scope.docs[i].DocumentId;
                    if (($scope.validAction(doc.Document.DocumentUser.FlagPermission, 1) || $scope.validAction(doc.Document.DocumentUser.FlagPermission, 32))) {
                        //passwordtype = 5 ==> there is any document to be signed or stamped
                        $scope.passwordType = 5;
                        $scope.checkUserSignatureData();
                        return true;
                    }
                }
                return false;
            };
            /*--------------------------------------------------------------
                Submit Button Activity Function
            --------------------------------------------------------------*/
            $scope.submitActivity = function (bit) {
                $scope.checkSignOrStamp();
                var eventString = "";
                if (bit == 1)
                    eventString = "Submit";
                else if (bit == 2)
                    eventString = "Reject";
                else if (bit == 4)
                    eventString = "Revision";
                else if (bit == 8)
                    eventString = "Manual Alter";
                swal({
                    title: "Confirmation",
                    text: "This activity will be " + eventString + ", continue?",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    confirmButtonColor: "#2196F3",
                    showLoaderOnConfirm: true,
                    confirmButtonText: "Yes, " + eventString + " it!",
                    cancelButtonText: "No, cancel please!",
                },
                    function (isConfirm) {
                        setTimeout(function () {
                            if (isConfirm) {
                                if ($scope.passwordType == 5 && bit == 1) {
                                    $scope.showPasswordModal();
                                } else {
                                    $scope.submitActivityProcess(bit);
                                }
                            }
                            swal.close();
                        }, 500);
                    });
            };
            $scope.submitActivityProcess = function (bit) {
                var rotNodeDocs = [];
                for (var i = 0; i < $scope.docs.length; i++) {
                    var doc = {};
                    doc.Document = $scope.docs[i].Document;

                    doc.DocumentId = $scope.docs[i].DocumentId;
                    if ((bit == 1) && ($scope.passwordType == 5) && $scope.validAction(doc.Document.DocumentUser.FlagPermission, 1)) {
                        var doc = $scope.docs[i];
                        doc.FlagAction |= 1;
                    }
                    if (bit == 1 && $scope.passwordType == 5 && $scope.validAction(doc.Document.DocumentUser.FlagPermission, 32)) {
                        var doc = $scope.docs[i];
                        doc.FlagAction |= 32;
                    }
                    if ((bit != 1 || $scope.passwordType != 5)) {
                        doc.FlagAction = $scope.docs[i].FlagAction;
                    }

                    var annos = [];
                    for (x = 0; x < $scope.docs[i].Document.DocumentElements.length; x++) {
                        var ix = $scope.docs[i].Document.DocumentElements[x];
                        if (ix.IsDeleted) continue;
                        var item = {};
                        item.id = ix.id;
                        item.Page = ix.Page;
                        item.DocumentId = ix.DocumentId;
                        item.Document = ix.Document;
                        item.ElementTypeId = (ix.ElementTypeId == undefined ? ix.ElementType : ix.ElementTypeId);
                        item.LeftPosition = ix.LeftPosition;
                        item.TopPosition = ix.TopPosition;
                        item.WidthPosition = ix.WidthPosition;
                        item.HeightPosition = ix.HeightPosition;
                        item.Color = ix.Color;
                        item.BackColor = ix.BackColor;
                        item.Data = ix.Data;
                        item.Data2 = ix.Data2;
                        item.Rotation = ix.Rotation;
                        item.RotationId = ix.RotationId;
                        item.ScaleX = ix.ScaleX;
                        item.ScaleY = ix.ScaleY;
                        item.TransitionX = ix.TransitionX;
                        item.TransitionY = ix.TransitionY;
                        item.StrokeWidth = ix.StrokeWidth;
                        item.Opacity = ix.Opacity;
                        item.Flag = ix.Flag;
                        item.FlagCode = ix.FlagCode;
                        item.FlagDate = ix.FlagDate;
                        item.FlagImage = ix.FlagImage;
                        item.CreatorId = ix.CreatorId;
                        item.ElementId = ix.ElementId;
                        item.Element = ix.Element;
                        annos.push(item);
                    }
                    doc.Document.DocumentElements = annos;
                    rotNodeDocs.push(doc);
                }
                var rotNodeUpDocs = [];
                for (i = 0; i < $scope.updocs.length; i++) {
                    var doc = {};
                    doc.DocumentUpload = {};
                    doc.DocumentUpload.FileName = $scope.updocs[i].DocumentUpload.FileName;
                    doc.DocumentUpload.FileNameOri = $scope.updocs[i].DocumentUpload.FileNameOri;
                    doc.DocumentUpload.Extention = $scope.updocs[i].DocumentUpload.Extention;
                    doc.DocumentUpload.FileSize = $scope.updocs[i].DocumentUpload.FileSize;
                    rotNodeUpDocs.push(doc);
                }
                var btn = Ladda.create(document.querySelector('.btn-submit'));
                btn.start();
                $http.post('@Url.Action("ProcessActivity", "Rotation")',
                    {
                        param: {
                            RotationNodeId: $scope.model.RotationNodeId,
                            Remark: $scope.model.Remark,
                            Value: $scope.model.Value,
                            RotationNodeDocs: rotNodeDocs,
                            RotationNodeUpDocs: rotNodeUpDocs,
                        },
                        bit: bit,
                    }).then(function (response) {
                        btn.stop();
                        if (response.data) {
                            if (response.data == -1) {
                                showInfo("Transfer cannot be processed, balance insufficient of the sender. Please contact the sender");
                                return;
                            }
                            $scope.wizarno = 'success';
                            $scope.model.Status = response.data;
                            $scope.model.DefWorkflowNodeId = -1;

                            setTimeout(function () {
                                     $scope.wizarno = 'product';
                            }, 1000);

                            $(window).off('beforeunload');
                        }
                    }, function (response) {
                        btn.stop();
                        showInfo("An error has occurred, please try submitting again.");
                        var x = 0;
                    });
            };
            $scope.processActivity = function (bit) {
                //var iframe=document.getElementById('xpdfIFrame');
                //var iframeView=document.getElementById('xpdfIFrameView');
                //var data=iframe.contentWindow.angular.element("#xpdfController").scope().getBase64Pdf();
                //iframeView.src=data;
                //return;

                if (!$scope.isValidForm($scope.myForm)) {
                    showInfo("There is a problem, please press submit again.");
                    return;
                }
                if ($scope.docs.length < 1) {
                    showInfo("You should add at least one document to continue.");
                    return;
                }

                if ($scope.model.Value == undefined && $scope.model.DecissionInfo != '') {
                    showInfo("Required value for decission");
                    return;
                }

                $scope.submitActivity(bit);
            };

            $scope.isValidForm = function (theForm) {
                var isvalid = theForm.$valid;
                return isvalid;
            };

            $scope.scrollingPage = function (id) {
                $('html, body').animate({
                    scrollTop: $(id).offset().top
                }, 200);
            };

            $scope.validAction = function (val, ...bits) {
                var ret = false;
                for (i = 0; i < bits.length; i++) {
                    if ((val & bits[i]) == bits[i]) {
                        ret = true;
                        break;
                    }
                }
                return ret;
            };

            $scope.finishLoading = function () {
                $scope.loadingLog = 0;
            };

            $scope.showIdentityImage = function (member) {
                $scope.identities = [];
                //if (member.ImageProfile!=null) {
                //    $scope.identities.push({Title:'Profile', Image:member.ImageProfile});
                //}
                if (member.ImageKtp1 != null) {
                    $scope.identities.push({ Title: 'KTP 1', Image: member.ImageKtp1 });
                }
                if (member.ImageKtp2 != null) {
                    $scope.identities.push({ Title: 'KTP 2', Image: member.ImageKtp2 });
                }
                //if (member.ImageSignature!=null){
                //    $scope.identities.push({Title:'Signature', Image:member.ImageSignature});
                //}
                //if (member.ImageInitials!=null){
                //    $scope.identities.push({Title:'Initial', Image:member.ImageInitials});
                //}
                //if (member.ImageStamp!=null){
                //    $scope.identities.push({Title:'Private Stamp', Image:member.ImageStamp});
                //}
                if ($scope.identities.length == 0) {
                    showInfo("No ID image found");
                    return;
                }
                $("#modal_identity_image").modal("show");
            };

            /*--------------------------------------------------------------
                POPUP DOC
            --------------------------------------------------------------*/
            $scope.documentIdx=-1;
            $scope.editDocument = function (idx) {
                $('#kriteria').val("");
                $scope.documentIdx = idx;
                $scope.documents = [];
                $("#modal_select_document").modal("show");
            };

            $scope.popupDocument = function () {
                $('#kriteria').val("");
                $scope.documentIdx = -1;
                $scope.documents = [];
                $scope.annos = [];
                $scope.fromSelectDoc = true;
                $("#modal_select_document").modal("show");
                $('#modal_select_document').on('hidden.bs.modal', $scope.fromSelectDoc=false);
            };
            $scope.setDocument = function (idx) {
                if ($scope.docs.length>0){
                    for(i=0;i<$scope.docs.length;i++){
                        if ($scope.docs[i].DocumentId==$scope.documents[idx].Id)
                            return;
                    }
                }

                //var dxid=0;
                //var docidx=0;
                if ($scope.documentIdx==-1){
                    var doc={};
                    doc.Document={};
                    doc.DocumentId=$scope.documents[idx].Id;
                    doc.FlagAction=0;
                    doc.Document.Title=$scope.documents[idx].Title;
                    doc.Document.FileNameOri=$scope.documents[idx].FileNameOri;
                    doc.Document.FileName = "Loading...";//$scope.documents[idx].FileName;
                    doc.Document.Extention = $scope.documents[idx].Extention;
                    //doc.Document.DocumentMember=$scope.documents[idx].DocumentMembers.filter((subject) => subject.MemberId == $scope.model.MemberId)[0];
                    $scope.docs.push(doc);
                    $scope.getDocument($scope.docs.length-1, $scope.model.RotationNodeId, doc.DocumentId);
                    //dxid=doc.DocumentId;
                    //docidx=$scope.docs.length-1;
                }else{
                    $scope.docs[$scope.documentIdx].DocumentId=$scope.documents[idx].Id;
                    $scope.docs[$scope.documentIdx].FlagAction=0;
                    $scope.docs[$scope.documentIdx].Document.Title=$scope.documents[idx].Title;
                    $scope.docs[$scope.documentIdx].Document.FileNameOri=$scope.documents[idx].FileNameOri;
                    $scope.docs[$scope.documentIdx].Document.FileName = "Loading...";//$scope.documents[idx].FileName;
                    $scope.docs[$scope.documentIdx].Document.Extention = $scope.documents[idx].Extention;
                    //$scope.docs[$scope.documentIdx].Document.DocumentMember=$scope.documents[idx].DocumentMembers.filter((subject) => subject.MemberId == $scope.model.MemberId)[0];
                    $scope.getDocument($scope.documentIdx, $scope.model.RotationNodeId, $scope.documents[idx].Id);
                    //dxid=$scope.documents[idx].Id;
                    //docidx=$scope.documentIdx;
                }

                @*$http.post('@Url.Action("getpermission", "document")',
                   {
                        rotationNodeId:$scope.model.RotationNodeId,
                        documentId:dxid,
                   }).then(function (response) {
                       if (response.data) {
                           $scope.docs[docidx].Document.DocumentMember.FlagPermission=response.data;
                       }
                   }, function (response) {
                       var x = 0;
                   });*@

            };

            $scope.removeDocument = function (idx) {
                var docRemoved = $scope.docs[idx];
                docRemoved.FlagAction |= 64;
                $(window).on('beforeunload', function(){ return "";});
            };

            $scope.removeUpDocument = function (idx) {
                $scope.updocs.splice(idx, 1);
            };

            $scope.getLiteDocuments = function (kriteria, page, row) {
                $scope.documents = [];
                $http.post('/Document/GetLiteAll3', { topCriteria: kriteria, page: page, pageSize: row }).then(function (response) {
                    if (response.data) {
                        $scope.documents = response.data;

                        $scope.index = row * (page - 1);

                        $scope.paging = [];
                        $scope.getDocumentCount(kriteria);

                        $scope.isView = true;
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            };

            $scope.changePageDocument = function (kriteria, page, row) {
                $scope.documents = [];
                $http.post('/Document/GetLiteAll3', { topCriteria: kriteria, page: page, pageSize: row }).then(function (response) {
                    if (response.data) {
                        $scope.documents = response.data;
                        $scope.index = row * (page - 1);
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            };

            $scope.getDocumentCount = function (kriteria) {
                $http.post('/Document/GetLiteAllCount3', { topCriteria: kriteria }).then(function (response) {
                    if (response.data) {

                        var jumlahData = response.data;
                        var jumlahPage = Math.ceil(jumlahData / $scope.row);
                        for (var i = 1; i <= jumlahPage; i++) {
                            $scope.paging.push({ value: i, text: i });
                        }

                        $scope.page = "1";

                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            };

            //$scope.getDocumentById = function (idx, id) {
            //    $http.post('/Document/GetDocument', { id:id }).then(function (response) {
            //        if (response.data) {
            //            $scope.docs[idx].Document.FileName=response.data.FileName;
            //            $scope.docs[idx].Document.DocumentAnnotates=response.data.DocumentAnnotates;
            //        }
            //    }, function (response) {
            //        //error handle\
            //        var x = 0;
            //    });
            //}

            $scope.getDocument = function (idx, rotationNodeId, documentId) {
                $http.post('/Document/GetDocument', { rotationNodeId: rotationNodeId, documentId: documentId }).then(function (response) {
                    if (response.data) {
                        $scope.docs[idx].Document.FileName = response.data.FileName;
                        $scope.docs[idx].Document.DocumentAnnotates = response.data.DocumentAnnotates;
                        $scope.docs[idx].Document.DocumentMember = response.data.DocumentMember;
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            };

            /*--------------------------------------------------------------
                END POPUP DOC
            --------------------------------------------------------------*/

            /*--------------------------------------------------------------
            UPLOAD FILE
            --------------------------------------------------------------*/
            $scope.humanFileSize = function (bytes, si) {
                var thresh = si ? 1000 : 1024;
                if (Math.abs(bytes) < thresh) {
                    return bytes + ' B';
                }
                var units = si
                    ? ['kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
                    : ['KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB'];
                var u = -1;
                do {
                    bytes /= thresh;
                    ++u;
                } while (Math.abs(bytes) >= thresh && u < units.length - 1);
                return bytes.toFixed(1) + ' ' + units[u];
            };

            $scope.getStatusName = function (status, workflowId) {
                switch (status) {
                    case 0:
                        return "Ongoing";
                        break;
                    case 1:
                        if(workflowId == $scope.model.FirstNodeId)
                            return "Uploaded";
                        else
                            return "Done reviewing"
                        break;
                    case 2:
                        return "Pending";
                        break;
                    case 3:
                        return "Signed";
                        break;
                    case 5:
                        return "Ask for Revision";
                        break;
                    case 6:
                        return "Altered";
                        break;
                    case 90:
                        return "Completed";
                        break;
                    case 98:
                        return "Declined";
                        break;
                    case 99:
                        return "Canceled";
                        break;
                    case 10:
                        return "Waiting_For_Response";
                        break;
                    case 11:
                        return "Accepted";
                        break;
                    case 97:
                        return "Expired";
                        break;

                }
            };
            $scope.isCompleteRotation = function () {
                switch ($scope.model.Status) {
                    case 0:
                        return false;
                        break;
                    case 1:
                        return false;
                        break;
                    case 2:
                        return false;
                        break;
                    case 3:
                        return false;
                        break;
                    case 5:
                        return false;
                        break;
                    case 6:
                        return false;
                        break;
                    case 90:
                        return true;
                        break;
                    case 98:
                        return true;
                        break;
                    case 99:
                        return true;
                        break;
                    case 10:
                        return false;
                        break;
                    case 11:
                        return false;
                        break;
                    case 97:
                        return true;
                        break;
                }
            }

            $scope.uploadDocFile = function (idx, file, errFiles) {
                $scope.finit = $scope.f;
                $scope.f = file;
                $scope.errFile = errFiles && errFiles[0];
                if (file) {
                    $scope.docFileName = file.name;
                    $scope.model.FileUrl = file.name;
                    $scope.model.FileSize = file.size;
                    file.upload = Upload.upload({
                        url: '/updownfile/xuploadastemporary?idx=' + idx + '&fileType=0&companyId=' + $scope.companyId,
                        data: { FileUploaded: file }
                    });

                    file.upload.then(function (response) {
                        //$timeout(function () {
                        file.result = response.data;
                        if (file.result.idx == -2) {
                            showInfo("Invalid plan Used.");
                            $scope.resetFileUploadDetails();
                            $scope.progressValueUploadFile = "Failed";
                            return;
                        } else if (file.result.idx == -4) {
                            showInfo("Document quota is insufficient.");
                            $scope.resetFileUploadDetails();
                            $scope.progressValueUploadFile = "Failed";
                            return;
                        } else {
                            if (file.result) {
                                $scope.model.FileName = file.result.filename;
                                $scope.model.Extention = file.result.fileext;
                                $scope.model.FileNameOri = file.result.filenameori;
                                $scope.fileTypeImage = $scope.model.Extention + ".png";
                                $scope.progressValueUploadFile = "Upload success";
                                isdefineiframe = false;
                                var doc = {};
                                doc.Document = {};
                                doc.Document.FileName = file.result.filename;
                                doc.FlagAction = $scope.model.FlagAction;
                                doc.Document.FileNameOri = file.result.filenameori;
                                doc.Document.Extention = file.result.fileext;
                                $scope.tempDoc = doc;
                                $scope.isUpload = 1;
                                $(window).off('beforeunload');
                                document.querySelector('.submit-document').disabled = false;
                            }
                        }
                        //});
                    }, function (response) {
                        if (response.status > 0) {
                            showError("Error upload file : " + response.statusText);
                        }
                    }, function (evt) {
                        file.progress = Math.min(100, parseInt(100.0 * evt.loaded / evt.total));
                        $(window).on('beforeunload', function(){ return "";});
                        if (file.progress >= 100) {
                            $scope.progressValueUploadFile = "Upload success";
                            ////$scope.podcastImage="podcast_uploaded.png";
                            isdefineiframe = false;
                        } else {
                            $scope.progressValueUploadFile = "Uploading...(" + file.progress + "%)";
                        }
                    });
                } else if ($scope.errFile != null) {
                    showError("Error upload file : " + $scope.errFile.$error + " (" + $scope.errFile.$errorParam + ")");
                }
            };
            $scope.confirmExit = function () {
                return "You are uploading your file. Are you sure want to leave incomplete upload process?";
            }
            $scope.updateProduct = function () {
                if ($scope.isUpload == 0) {
                    showInfo("document must be uploaded");
                    return;
                }

                if (!$scope.isValidForm($scope.myForm))
                    return;

                var tmpAnnos = angular.copy($scope.annos);
                $(window).on('beforeunload', function(){ return "";});
                $scope.annos = [];
                for (i = 0; i < tmpAnnos.length; i++) {
                    var ix = tmpAnnos[i];
                    if (ix.IsDeleted) continue;
                    var item = {};
                    item.Id = ix.Id;
                    item.Page = ix.Page;
                    item.ElementTypeId = ix.ElementType;
                    item.LeftPosition = ix.LeftPosition;
                    item.TopPosition = ix.TopPosition;
                    item.WidthPosition = ix.WidthPosition;
                    item.HeightPosition = ix.HeightPosition;
                    item.Color = ix.Color;
                    item.BackColor = ix.BackColor;
                    item.Data = ix.Data;
                    item.Data2 = ix.Data2;
                    item.Rotation = ix.Rotation;
                    item.ScaleX = ix.ScaleX;
                    item.ScaleY = ix.ScaleY;
                    item.TransitionX = ix.TransitionX;
                    item.TransitionY = ix.TransitionY;
                    item.StrokeWidth = ix.StrokeWidth;
                    item.Opacity = ix.Opacity;
                    item.Flag = ix.Flag;
                    item.FlagCode = ix.FlagCode;
                    item.FlagDate = ix.FlagDate;
                    item.FlagImage = ix.FlagImage;
                    item.CreatorId = ix.CreatorId;
                    item.ElementId = ix.ElementId;
                    item.Element = ix.Element;
                    $scope.annos.push(item);
                }
                $scope.saveProduct();
            };

            $scope.isValidForm = function (theForm) {
                var isvalid = theForm.$valid;
                return isvalid;
            };
            $scope.resetFileUploadDetails = function () {
                $scope.f = $scope.finit;
                $scope.docFileName = "";
                $scope.model.FileUrl = "";
                $scope.model.FileSize = "";
                $scope.model.FileName = "";
                $scope.model.Extention = "";
                $scope.model.FileNameOri = "";
                $scope.model.MaxPrint = 0;
                $scope.model.MaxDownload = 0;
                $scope.fileTypeImage = "no_document.png";
                $scope.progressValueUploadFile = "";
                var doc = {};
                $scope.tempDoc = doc;
                $scope.isUpload = 0;
                $scope.annos = [];
                document.querySelector('.submit-document').disabled = true;
            };

            $scope.saveProduct = function () {
                var btn = Ladda.create(document.querySelector('.submit-document'));
                btn.start();
                $http.post('@Url.Action("Save", "document")',
                    {
                        prod: {
                            Id: $scope.model.Id,
                            Title: $scope.model.Title,
                            Description: $scope.model.Descr,
                            FileUrl: $scope.model.FileName,
                            FileName: $scope.model.FileNameOri,
                            Extention: $scope.model.Extention,
                            FileSize: $scope.model.FileSize,
                            MaxPrintPerActivity: $scope.model.MaxPrint,
                            MaxDownloadPerActivity: $scope.model.MaxDownload,
                            ExpiryDay: $scope.model.ExpiryDay,
                            Version: $scope.model.Version,
                            DocumentElements: $scope.annos,
                            /*UserId: 'SYST',*/
                            //DocumentMembers:$scope.users,
                        }, companyId: $scope.companyId,
                        rotationId: $scope.rotationId
                    }).then(function (response) {
                        btn.stop();
                        if (response.data) {
                            response.data.Extention = $scope.tempDoc.Document.Extention;
                            $scope.tempDoc.Document = response.data;
                            $scope.tempDoc.DocumentId = response.data.Id;
                            $scope.docs.push($scope.tempDoc);
                            $scope.resetFileUploadDetails();
                            $("#modal_select_document").modal('hide');
                            showInfo("Success store document");
                        }
                    }, function (response) {
                        //error handle\
                        btn.stop();
                        showInfo("An error has occurred, please try submitting again.");
                    });
            };
            /*--------------------------------------------------------------
                POPUP MEMBER
            --------------------------------------------------------------*/
            $scope.memberIdx=-1;
            $scope.editMember = function (idx) {
                $scope.memberIdx = idx;
                $scope.members = [];
                $scope.page = "1";
                $scope.kriteria = "";
                $("#modal_select_member").modal("show");
            };
            $scope.SetItemClass = function (status) {
                if (status == 98 || status == 99 || status == 97) {
                    return "danger";
                } else if (status == 5) {
                    return "warning";
                } else if (status == 1 || status == 2) {
                    return "default";
                }
                return "info";

            };
            $scope.findMembers = function (kriteria, page, row) {
                $scope.page = 1;
                $scope.members = [];
                $http.post('/Member/FindMembers', { topCriteria: kriteria, page: page, pageSize: row }).then(function (response) {
                    if (response.data) {
                        $scope.members = response.data;
                        $scope.index = row * (page - 1);
                        $scope.findMembersCountAll(kriteria);
                        $scope.isView = true;
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            };
            $scope.findMembersCountAll = function (kriteria) {
                $scope.paging = [];
                $http.post('/Member/FindMembersCountAll', { topCriteria: kriteria }).then(function (response) {
                    if (response.data) {
                        var jumlahData = response.data;
                        var jumlahPage = Math.ceil(jumlahData / $scope.row);
                        for (var i = 1; i <= jumlahPage; i++) {
                            $scope.paging.push({ value: i, text: i });
                        }
                        $scope.page = "1";
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            };
            $scope.changePageMember = function (kriteria, page, row) {
                $scope.products = [];
                $http.post('/Member/FindMembers', { topCriteria: kriteria, page: page, pageSize: row }).then(function (response) {
                    if (response.data) {
                        $scope.members = response.data;
                        $scope.index = row * (page - 1);
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            };

            $scope.setMember = function (idx) {
                $scope.users[$scope.memberIdx].UserId = $scope.members[idx].Id;
                $scope.users[$scope.memberIdx].Name = $scope.members[idx].Name;
                $scope.users[$scope.memberIdx].Email = $scope.members[idx].Email;
                $scope.users[$scope.memberIdx].Picture = $scope.members[idx].ImageProfile;
                $scope.users[$scope.memberIdx].EncryptedId = $scope.members[idx].EncryptedId;
            };
            $scope.removeMember = function (idx) {
                $scope.users.splice(idx, 1);
            };
            $scope.popupMember = function () {
                $scope.memberIdx = -1;
                $scope.members = [];
            };
            /*--------------------------------------------------------------
                END POPUP MEMBER
            --------------------------------------------------------------*/

            /*--------------------------------------------------------------
            CONVERT JSON DATE
            --------------------------------------------------------------*/
            $scope.convertJsonDate = function (val) {
                if (val == undefined)
                    return null;
                if (val instanceof Date)
                    return val;
                return new Date(parseInt(val.substr(6)));
            };
            function convertJsonDate(val) {
                if (val == undefined)
                    return null;
                if (val instanceof Date)
                    return val;
                return new Date(parseInt(val.substr(6)));
            };


            // BELUM DIGUNAKAN
            $scope.gotoAddDoc = function () {
                var url = $filter('filter')($scope.dbmenus, { SecondaryKey: 'DOCUMENT' })[0].UrlPage.replace('list?', '?');
                location.href = url;
            };
            $scope.docAlert = function (text) {
                showInfo("Click on " + text);
            };
            $scope.stampDocument = function (idx) {
                $http.post('/document/CheckingPrivateStamp', { memberId: 0 }).then(function (response) {
                    if (response.data) {
                        if (response.data==-1){
                            showError("Check your registration form. Completed your field private stamp image.");
                            return;
                        }

                       $scope.stampDocumentValidation(idx);

                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }
            $scope.stampDocumentValidation = function (idx) {
                var val = document.getElementById("thePassword");
                val.value = "";
                $scope.docIdx = idx;
                $scope.thePassword = "";
                $("#modal_password").modal("show");
            };
        });

        $(function () {
        });

        $(document).ready(function () {
            $('#checkbox1').bootstrapSwitch();
            $('#action-panel').show();

        })
    </script>
</body>