@using DRD.Domain;
@model JsonLayout


@*<link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/assets/css/header-user-dropdown.css">
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>*@

<script src="/assets/js/plugins/buttons/spin.min.js" type="text/javascript"></script>
<script src="/assets/js/plugins/buttons/ladda.min.js" type="text/javascript"></script>
<script src="/assets/js/pages/components_buttons.js" type="text/javascript"></script>

<script src="/assets/vendors/angular-1.5.5/angular.js"></script>
<script src="/assets/vendors/angular-1.5.5/angular-animate.js"></script>
<script src="/Scripts/ui-bootstrap-tpls-1.3.2.js"></script>

<script src="/assets/vendors/file-upload/ng-file-upload-shim.min.js"></script>
<script src="/assets/vendors/file-upload/ng-file-upload.min.js"></script>
<script src="/assets/vendors/ng_only_number.js"></script>

<script src="/assets/vendors/angular-1.5.5/angular-sanitize.min.js"></script>

@*http://bootstrapswitch.com/*@
<link href="/assets/vendors/bootstrap-switch/bootstrap3/bootstrap-switch.css" rel="stylesheet" type="text/css" />
<script src="/assets/vendors/bootstrap-switch/bootstrap-switch.js"></script>

@* demo/doc https://uxsolutions.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=4&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&autoclose=on&keyboardNavigation=on&forceParse=on#sandbox*@
<link id="bsdp-css" href="/assets/vendors/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<script src="/assets/vendors/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript" src="/assets/js/plugins/notifications/bootbox.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/notifications/sweet_alert.min.js"></script>

<script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/forms/styling/switch.min.js"></script>

<script src="~/Scripts/xpublic.js"></script>

<style type="text/css">
    .auto-style3 {
        width: 64px;
    }

    .image-wraper {
        float: left;
        margin-right: 10px;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .image-content {
        width: 120px;
        cursor: pointer;
        /*padding: 5px;*/
        /*position: absolute;*/
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .cb-center {
        text-align: center;
        vertical-align: middle;
    }
    .btn-action{
        background-color:brown;
        color:white;
        padding:3px;
        font-size:xx-small;
        border-radius:10%;
        cursor:pointer;
    }
</style>



<body @*ng-app="drdApp"*@>
    <!-- Page container -->
    <div class="page-container" ng-controller="drdController">
        <!-- Page content -->
        <div class="page-content">


            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Page header -->
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4><i class="icon-user position-left"></i> User Permission</h4>
                        </div>

                    </div>

                </div>
                <!-- /page header -->
                <!-- Horizontal form options -->
                <!-- Content area -->
                <div class="content">


                    <!-- Basic layout-->


                    <div class="panel panel-flat">
                        <div class="panel-body">

                            <!--MEMBER DATA-->
                            
                            <form name="myForm" class="form-horizontal" autocomplete="off">

                                <div ng-show="wizarno=='product'">
                                    <fieldset>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <table>
                                                    <tr>
                                                        <td><img src="/Images/member/{{model.ImageProfile}}" class="image-content" style="object-fit:fill;border-radius:5%;" /></td>
                                                        <td>
                                                            <div style="margin-left:10px;">
                                                                <span class="text-black">{{model.Number}}</span><br />
                                                                <span class="text-black">{{model.Name}}</span><br /><br />
                                                                <span class="text-size-small">{{model.Phone}}</span><br />
                                                                <span class="text-size-small">{{model.Email}}</span><br />
                                                                <span class="text-size-small">{{model.UserGroup}}</span>
                                                                <span class="text-size-small">{{model.Company.Name}}</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-8">
                                                <span style="font-size:medium"><b>Subscription</b></span>
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-info btn-xs pull-right" type="button" ng-click="popupCompany()"><i class="icon-collaboration position-left"></i> Add Subscription</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div style="height:5px"></div>
                                                <table class="table-xxs table-bordered table-striped" style="font-size:small;width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th width="25px">#</th>
                                                            <th>Company</th>
                                                            <th width="125px">All Project</th>
                                                            <th width="150px">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="x in comps" style="vertical-align:top" on-finish-render="ngRepeatFinished">
                                                        <tr style="background-color:beige">
                                                            <td>{{$index+1 + index}}</td>
                                                            <td><a ng-click="editCompany($index);">{{x.Name}}</a></td>
                                                            <td class="cb-center"><input type="checkbox" class="control-primary" ng-checked="{{getFlagPemission(x.FlagPermission, 1)}}" id="checkboxmt{{x.MemberId}}1"></td>
                                                            <td class="cb-center">
                                                                <span style="background-color:brown;" class="btn-action">+Project</span>
                                                                <span style="background-color:red;" class="btn-action" ng-click="removeCompany($index);">Remove</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td colspan="4">
                                                                <table class="table-xxs table-bordered table-striped" style="font-size:small;width:100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th width="25px">#</th>
                                                                            <th>Project</th>
                                                                            <th width="125px">All Rotation</th>
                                                                            <th width="150px">Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody ng-repeat="x in comps" style="vertical-align:top" on-finish-render="ngRepeatFinished">
                                                                        <tr style="background-color:palegoldenrod">
                                                                            <td>{{$index+1 + index}}</td>
                                                                            <td><a ng-click="editProject($index);">{{x.Name}}</a></td>
                                                                            <td class="cb-center"><input type="checkbox" class="control-primary" ng-checked="{{getFlagPemission(x.FlagPermission, 2)}}" id="checkboxmt{{x.MemberId}}2"></td>
                                                                            <td class="cb-center">
                                                                                <span style="background-color:mediumslateblue;" class="btn-action">Rotation</span>
                                                                                <span @*style="background-color:red;"*@ class="btn-action bg-danger-300" ng-click="removeProject($index);">Remove</span>
                                                                            </td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td>&nbsp;</td>
                                                                            <td colspan="4">

                                                                                <table class="table-xxs table-bordered table-striped" style="font-size:small;width:100%">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th width="25px">#</th>
                                                                                            <th>Rotation</th>
                                                                                            <th width="150px">Action</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody ng-repeat="x in comps" style="vertical-align:top" on-finish-render="ngRepeatFinished">
                                                                                        <tr>
                                                                                            <td>{{$index+1 + index}}</td>
                                                                                            <td><a ng-click="editRotation($index);">{{x.Name}}</a></td>
                                                                                            <td class="cb-center">
                                                                                                <span style="background-color:red;" class="btn-action" ng-click="removeRotation($index);">Remove</span>
                                                                                            </td>
                                                                                        </tr>
                                                                                        
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <hr />
                                    <div class="col-md-12">

                                        <div class="col-md-12">
                                            <div class="text-right">
                                                <span class="input-group-btn">
                                                    <button class="btn bg-slate-700 pull-right btn-ladda btn-ladda-spinner" data-style="slide-down" data-spinner-color="#333" ng-click="updateProduct()" style="width:120px">
                                                        <span class="ladda-label">&nbsp;&nbsp;Submit&nbsp;&nbsp;</span><span class="ladda-spinner"></span>
                                                        <div class="ladda-progress" style="width: 0px;"></div>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                            <!--/MEMBER DATA-->
                            <!--CONFIRMATION THANK YOU-->
                            <div ng-show="wizarno=='success'">
                                <div class="col-md-12">
                                    <div class="alert alert-success alert-styled-left">
                                        <p ng-bind-html="infoSuccess" compile-template></p>
                                    </div>
                                </div>
                            </div>
                            <!--/CONFIRMATION THANK YOU-->
                            <!-- View member modal -->
                            <ng-include src="'/Include/PopupCompany'"></ng-include>
                            <!-- View member modal -->
                        </div>
                    </div>
                    <!-- /basic layout -->
                </div>
                <!-- /vertical form options -->
            </div>
            <!-- /Main content -->
        </div>
        <!-- /Page content -->
    </div>
    <!-- /Page container -->

    <script type="text/javascript">


        var myApp = angular.module('drdApp', ['ngAnimate', 'ui.bootstrap', 'ngSanitize', 'ngFileUpload', 'ngOnlyNumberApp'])
        myApp.directive('compileTemplate', function ($compile, $parse) {
            return {
                link: function (scope, element, attr) {
                    var parsed = $parse(attr.ngBindHtml);
                    function getStringValue() { return (parsed(scope) || '').toString(); }

                    //Recompile if the template changes
                    scope.$watch(getStringValue, function () {
                        $compile(element, null, -9999)(scope);  //The -9999 makes it skip directives so that we do not recompile ourselves
                    });
                }
            }
        })
        myApp.directive('onFinishRender', function ($timeout) {
            return {
                restrict: 'A',
                link: function (scope, element, attr) {
                    if (scope.$last === true) {
                        $timeout(function () {
                            scope.$emit('ngRepeatBindRoutesFinished');
                        });
                    }
                }
            }
        });
        myApp.controller("drdController", function ($scope, $sce, Upload, $location, $http, $filter) {
            // modal project
            $scope.company = {};
            $scope.companies = [];
            $scope.companyCount = [];
            $scope.paging = [];
            $scope.kriteria = "";
            $scope.page = 1;
            $scope.row = 20;
            $scope.currPage = 0;
            $scope.index = 0;
            // modal project
            $scope.comps = [];
            $scope.model = {};
            $scope.wizarno = 'product';
            $scope.model.Id = 0;
            $scope.model.ImageProfile="no_picture.png";
            $scope.master={};
            $scope.model.IsActive=true;
            $scope.isUploadImage=0;
            $scope.infoSuccess="Data saved successfully.";
            $scope.creatorLevels=[{Id:0},{Id:1},{Id:2},{Id:3},{Id:4},{Id:5}];
            $scope.model.CreatorLevel="0";

            initValues();

            $scope.$on('ngRepeatBindRoutesFinished', function (ngRepeatFinishedEvent) {
                $(".control-primary").uniform({
                    radioClass: 'choice',
                    wrapperClass: 'border-primary-600 text-primary-800'
                });
            });
            /*--------------------------------------------------------------
            INIT DATA
            --------------------------------------------------------------*/
            angular.element(document).ready(function () {
                if ($scope.model.Id==0 )
                    $scope.getMaster();
            });

            function initValues() {
                var product = @Html.Raw(Json.Encode(Model.obj));
                if (product.Id!=0 ){
                    $scope.model.Id=product.Id;
                    $scope.model.Number=product.Number;
                    $scope.model.Name=product.Name;
                    $scope.model.Phone=product.Phone;
                    $scope.model.Email=product.Email;
                    $scope.model.ImageProfile=product.ImageProfile;
                    $scope.model.CreatorLevel=product.CreatorLevel+"";
                    $scope.model.IsActive=product.IsActive;
                    $scope.model.UserGroup=product.UserGroup;
                    $scope.model.UserId=product.UserId;
                    $scope.model.Company=product.Company;

                    if ($scope.model.ImageProfile==null)
                        $scope.model.ImageProfile="no_picture.png";

                    $scope.master.UserGroups=product.Master.UserGroups;

                    $scope.isUploadImage=1;
                }
                $('#checkbox1').bootstrapSwitch.defaults.size='mini';
            }

            $scope.initData = function () {
            }

            $scope.typeChange = function (ini, idx) {
                alert(idx);
            }
            /*--------------------------------------------------------------
            UPLOAD IMAGE FILE
            --------------------------------------------------------------*/
            $scope.uploadFiles = function (idx, file, errFiles) {
                $scope.f = file;
                $scope.errFile = errFiles && errFiles[0];
                if (file) {
                    file.upload = Upload.upload({
                        url: '/updownfile/uploadimage?idx='+idx+'&fileType=2',
                        data: { MyImages: file }
                    });

                    file.upload.then(function (response) {
                        //$timeout(function () {
                        file.result = response.data;

                        if (idx==0){
                            $scope.model.ImageProfile=file.result.filename;
                            $scope.isUploadImage=1;
                        }
                        //});
                    }, function (response) {
                        if (response.status > 0)
                            $scope.errorMsg = response.status + ': ' + response.data;
                    }, function (evt) {
                        file.progress = Math.min(100, parseInt(100.0 * evt.loaded / evt.total));
                    });
                } else if ($scope.errFile != null) {
                    showInfo("Error upload file : " + $scope.errFile.$error + " (" + $scope.errFile.$errorParam + ")");
                }
            }

            /*--------------------------------------------------------------
            SAVE PRODUCT
            --------------------------------------------------------------*/
            $scope.saveProduct = function () {
                var memberType=0;
                //var bit=1;
                //for(i=0;i<$scope.master.MemberTypes.length;i++){
                //    var cb= $('#checkboxmt'+i)[0];
                //    if (cb.checked)
                //        memberType+=bit;
                //    bit+=bit;
                //}
                $http.post('@Url.Action("Save", "Member")',
                    {
                        prod: {
                            Id: $scope.model.Id,
                            Name: $scope.model.Name,
                            Phone: $scope.model.Phone,
                            Email: $scope.model.Email,
                            ImageProfile: $scope.model.ImageProfile,
                            MemberType: memberType,
                            UserGroup: $scope.model.UserGroup,
                            IsActive: $('#checkbox1')[0].checked,
                            UserId: 'SYST'
                        }
                    }).then(function (response) {
                        if (response.data) {
                            if (response.data=="DBLEMAIL"){
                                showError("Email "+$scope.model.Email+" has been used by other users. Please use another email.");
                                return;
                            }
                            $scope.infoSuccess+="<br/>Registration number <b>"+response.data+"</b>, this number is used to log in.";
                            $scope.infoSuccess=$sce.trustAsHtml($scope.infoSuccess);
                            $scope.wizarno = 'success';
                        }
                    }, function (response) {
                        //error handle\
                        var x = 0;
                    });
            }

            /*--------------------------------------------------------------
            GET MASTER
            --------------------------------------------------------------*/
            $scope.getMaster = function () {
                $http.post('@Url.Action("GetMaster", "Member")', {}).then(function (response) {
                    if (response.data) {
                        $scope.master = response.data;
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }

            /*--------------------------------------------------------------
            UPDATE PRODUCT
            --------------------------------------------------------------*/
            $scope.updateProduct = function () {
                if (!$scope.isValidForm($scope.myForm))
                    return;

                if ($scope.isUploadImage==0) {
                    showInfo("Pas photo must be uploaded");
                    return;
                }

                $scope.saveProduct();
            }

            $scope.isValidForm = function (theForm) {
                var isvalid = theForm.$valid;
                return isvalid;
            };

            /*--------------------------------------------------------------
            GENERALD
            --------------------------------------------------------------*/
            $scope.scrollingPage = function (id) {
                $('html, body').animate({
                    scrollTop: $(id).offset().top
                }, 200);
            }
            /*--------------------------------------------------------------
            CONVERT JSON DATE
            --------------------------------------------------------------*/
            function convertJsonDate(val) {
                if (val == undefined)
                    return '';
                return new Date(parseInt(val.substr(6)));
            }

            /*--------------------------------------------------------------
                POPUP COMPANY
            --------------------------------------------------------------*/
            $scope.companyIdx=-1;
            $scope.editCompany = function (idx) {
                $scope.companyIdx=idx;
                $scope.companies = [];
                $("#modal_select_company").modal("show");
            }
            $scope.removeCompany = function (idx) {
                $scope.comps.splice(idx,1);
            }
            $scope.popupCompany = function () {
                $("#modal_select_company").modal("show");
                $scope.companies=[];

            }
            $scope.setCompany = function (idx) {
                if ($scope.comps.length>0){
                    for(i=0;i<$scope.comps.length;i++){
                        if ($scope.comps[i].Id==$scope.companies[idx].Id)
                            return;
                    }
                }

                if ($scope.companyIdx==-1){
                    var comp={};
                    comp.Id=$scope.companies[idx].Id;
                    comp.Name=$scope.companies[idx].Name;
                    comp.SubscribeType=0;
                    $scope.comps.push(comp);
                }else{
                    $scope.comps[$scope.companyIdx].Id=$scope.companies[idx].Id;
                    $scope.comps[$scope.companyIdx].Name=$scope.companies[idx].Name;
                }
            }

            $scope.getLiteCompanies = function (kriteria, page, row) {
                $scope.companies = [];
                $http.post('@Url.Action("GetLiteAll2", "company")', { topCriteria: kriteria, page: page, pageSize: row, criteria:'' }).then(function (response) {
                    if (response.data) {
                        $scope.companies = response.data;

                        $scope.index = row * (page - 1);

                        $scope.paging = [];
                        $scope.getCompanyCount(kriteria);

                        $scope.isView = true;
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }

            $scope.changePageCompanies = function (kriteria, page, row) {
                $scope.companies = [];
                $http.post('@Url.Action("GetLiteAll2", "company")', { topCriteria: kriteria, page: page, pageSize: row, criteria:'' }).then(function (response) {
                    if (response.data) {
                        $scope.companies = response.data;
                        $scope.index = row * (page - 1);
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }

            $scope.getCompanyCount = function (kriteria) {
                $http.post('@Url.Action("GetLiteAllCount2", "company")', { topCriteria: kriteria, criteria:'' }).then(function (response) {
                    if (response.data) {

                        var jumlahData = response.data;
                        var jumlahPage = Math.ceil(jumlahData / $scope.row);
                        for (var i = 1; i <= jumlahPage; i++) {
                            $scope.paging.push({ value: i, text: i });
                        }

                        $scope.page = "1";

                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }

            /*--------------------------------------------------------------
                END POPUP COMPANY
            --------------------------------------------------------------*/

        });


        $(function () {
        });


        $(document).ready(function () {
            $('#checkbox1').bootstrapSwitch();
        })

    </script>

</body>