@using DRD.Domain;
@model JsonLayout

@{
    ViewBag.Title = "";
}

@*<link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/assets/css/header-user-dropdown.css">
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>*@

<script src="/assets/js/plugins/buttons/spin.min.js" type="text/javascript"></script>
<script src="/assets/js/plugins/buttons/ladda.min.js" type="text/javascript"></script>
<script src="/assets/js/pages/components_buttons.js" type="text/javascript"></script>

<script src="/assets/vendors/angular-1.5.5/angular.js"></script>
<script src="/assets/vendors/angular-1.5.5/angular-animate.js"></script>
<script src="/Scripts/ui-bootstrap-tpls-1.3.2.js"></script>

<script src="/assets/vendors/file-upload/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="/assets/vendors/file-upload/ng-file-upload.min.js"></script>
<script src="/assets/vendors/ng_only_number.js"></script>

<link href="/assets/vendors/bootstrap-switch/bootstrap3/bootstrap-switch.css" rel="stylesheet" type="text/css" />
<script src="/assets/vendors/bootstrap-switch/bootstrap-switch.js"></script>

<script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/forms/styling/switch.min.js"></script>

<script type="text/javascript" src="/assets/js/plugins/notifications/bootbox.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/notifications/sweet_alert.min.js"></script>

<script src="~/Scripts/xpublic.js"></script>


<style type="text/css">
    .auto-style3 {
        width: 64px;
    }

    .image-wraper {
        float: left;
        margin-right: 10px;
        width: 120px;
        height: 120px;
        overflow: hidden;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .image-content {
        width: 120px;
        cursor: pointer;
        /*padding: 5px;*/
        /*position: absolute;*/
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>



<body @*ng-app="drdApp"*@>
    <!-- Page container -->
    <div class="page-container" ng-controller="drdController">
        <!-- Page content -->
        <div class="page-content">


            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Page header -->
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                            <h4>@*<i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> -*@Entry Project</h4>

                        </div>

                    </div>

                </div>
                <!-- /page header -->
                <!-- Horizontal form options -->
                <!-- Content area -->
                <div class="content" style="display:none">


                    <!-- Basic layout-->


                    <div class="panel panel-flat">
                        <div class="panel-body">


                            <!--MEMBER DATA-->

                            <form name="myForm" class="form-horizontal" autocomplete="off">

                                <div ng-show="wizarno=='product'">
                                    <fieldset>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <label class="control-label">Name</label>
                                                    <input type="text" class="form-control" ng-model="model.Name" ng-required="wizarno=='product'" maxlength="100" />
                                                </div>

                                                @*<div class="col-md-5">
                                                    <label class="control-label">Company</label>
                                                    <div class="input-group">
                                                        <div>
                                                            <input type="text" class="form-control" ng-model="company.Name" maxlength="50" readonly />
                                                        </div>
                                                        <span class="input-group-addon" style="cursor:pointer" ng-click="popupCompany()"><i class="icon-cogs"></i></span>
                                                    </div>
                                                </div>*@
                                            </div>
                                            <div class="row">

                                                <div class="col-md-10">
                                                    <label class="control-label">Description</label><br />
                                                    <textarea class="control-label" ng-model="model.Descr" rows="3" style="resize: none; overflow-y: hidden; opacity: 0.8; height: 100px;width:100%" ng-required="wizarno=='product'"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-3">
                                                    <label class="control-label">Status Active</label><br />
                                                    <input id="checkbox1" type="checkbox" data-off-text="Inactive" data-on-text="Active" class="BSswitch" ng-model="model.IsActive">
                                                </div>

                                            </div>
                                        </div>
                                    </fieldset>
                                    <hr />
                                    
                                    <div class="col-md-12">

                                        <div class="col-md-12">
                                            <div class="text-right">

                                                <span class="input-group-btn">
                                                    <button class="btn bg-slate-700 pull-right btn-ladda btn-submit" data-style="slide-down" data-spinner-color="#333" ng-click="updateProduct()" style="width:120px">
                                                        <span class="ladda-label">&nbsp;&nbsp;Submit&nbsp;&nbsp;</span><span class="ladda-spinner"></span>
                                                        <div class="ladda-progress" style="width: 0px;"></div>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                            <!--/MEMBER DATA-->
                            <!--CONFIRMATION THANK YOU-->
                            <div ng-show="wizarno=='success'">
                                <div class="col-md-12">

                                    <div class="alert alert-success alert-styled-left">
                                        Data successfully saved. @*Click <a href='/home/productlist'>disini</a> untuk kembali ke list data.*@
                                    </div>
                                </div>



                            </div>
                            <!--/CONFIRMATION THANK YOU-->
                            <!-- View member modal -->
                            <ng-include src="'/Include/PopupCompany'"></ng-include>
                            <!-- View member modal -->

                        </div>
                    </div>


                    <!-- /basic layout -->




                </div>
                <!-- /vertical form options -->
            </div>
            <!-- /Main content -->
        </div>
        <!-- /Page content -->
    </div>
    <!-- /Page container -->

    <script type="text/javascript">


        var myApp = angular.module('drdApp', ['ngAnimate', 'ui.bootstrap', 'ngFileUpload', 'ngOnlyNumberApp'])

        myApp.controller("drdController", function ($scope, Upload, $location, $http, $filter) {

            // modal project
            $scope.company = {};
            $scope.companies = [];
            $scope.companyCount = [];
            $scope.paging = [];
            $scope.kriteria = "";
            $scope.page = 1;
            $scope.row = 20;
            $scope.currPage = 0;
            $scope.index = 0;
            // modal project

            $scope.model = {};
            $scope.wizarno = 'product';
            $scope.master = {};
            $scope.model.IsActive=true;
            $scope.model.Id = 0;
            initValues();

            $(".control-warning").uniform({
                radioClass: 'choice',
                wrapperClass: 'border-warning-600 text-warning-800'
            });

            /*--------------------------------------------------------------
            INIT DATA
            --------------------------------------------------------------*/
            angular.element(document).ready(function () {
                $(".content").show();
            });

            function initValues() {
                var product = @Html.Raw(Json.Encode(Model.obj));
                if (product.Id!=0 ){

                    $scope.model.Id=product.Id;
                    $scope.model.Name=product.Name;
                    $scope.model.Descr= product.Descr;
                    $scope.model.IsActive= product.IsActive;
                    $scope.company=product.Company;

                }

                $('#checkbox1').bootstrapSwitch.defaults.size='mini';
            }

            $scope.initData = function () {

            }


            /*--------------------------------------------------------------
            SAVE PRODUCT
            --------------------------------------------------------------*/
            $scope.saveProduct = function () {
                var btn = Ladda.create(document.querySelector('.btn-submit'));
                btn.start();
                $http.post('@Url.Action("Save", "project")',
                    {
                        prod: {
                            Id: $scope.model.Id,
                            Name: $scope.model.Name,
                            Descr: $scope.model.Descr,
                            //CompanyId:$scope.company.Id,
                            IsActive: $('#checkbox1')[0].checked,
                        }
                    }).then(function (response) {
                        btn.stop();
                        if (response.data) {
                            window.scrollTo(0, 0);
                            $scope.wizarno = 'success';

                        }
                    }, function (response) {
                        //error handle\
                        btn.stop();
                        var x = 0;
                    });
            }

            $scope.updateProduct = function () {
                if (!$scope.isValidForm($scope.myForm))
                    return;

                //if ($scope.company.Name==undefined) {
                //    showInfo("Required company");
                //    return;
                //}

                $scope.saveProduct();
            }

            $scope.isValidForm = function (theForm) {
                var isvalid = theForm.$valid;
                return isvalid;
            };

            $scope.scrollingPage = function (id) {
                $('html, body').animate({
                    scrollTop: $(id).offset().top
                }, 200);
            }

            /*--------------------------------------------------------------
                POPUP COMPANY
            --------------------------------------------------------------*/
            $scope.popupCompany = function () {
                if ($scope.isUsed){
                    showInfo("Project data can not be changed.");
                    return;
                }
                $("#modal_select_company").modal("show");
                $scope.companies=[];

            }
            $scope.setCompany = function (idx) {
                $scope.company=$scope.companies[idx];
            }

            $scope.getLiteCompanies = function (kriteria, page, row) {
                $scope.companies = [];
                $http.post('@Url.Action("GetLiteAll2", "company")', { topCriteria: kriteria, page: page, pageSize: row, criteria:'' }).then(function (response) {
                    if (response.data) {
                        $scope.companies = response.data;

                        $scope.index = row * (page - 1);

                        $scope.paging = [];
                        $scope.getCompanyCount(kriteria);

                        $scope.isView = true;
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }

            $scope.changePageCompanies = function (kriteria, page, row) {
                $scope.companies = [];
                $http.post('@Url.Action("GetLiteAll2", "company")', { topCriteria: kriteria, page: page, pageSize: row, criteria:'' }).then(function (response) {
                    if (response.data) {
                        $scope.companies = response.data;
                        $scope.index = row * (page - 1);
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }

            $scope.getCompanyCount = function (kriteria) {
                $http.post('@Url.Action("GetLiteAllCount2", "company")', { topCriteria: kriteria, criteria:'' }).then(function (response) {
                    if (response.data) {

                        var jumlahData = response.data;
                        var jumlahPage = Math.ceil(jumlahData / $scope.row);
                        for (var i = 1; i <= jumlahPage; i++) {
                            $scope.paging.push({ value: i, text: i });
                        }

                        $scope.page = "1";

                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }

            /*--------------------------------------------------------------
                END POPUP COMPANY
            --------------------------------------------------------------*/

        });



        $(document).ready(function () {
            $('#checkbox1').bootstrapSwitch();
        })

        

</script>
</body>