@using DRD.Models.View;
@model Layout

@{
    ViewBag.Title = "Workflow Detail";
    ViewBag.Submenu = "WORKFLOW";
}

<script src="/assets/js/plugins/buttons/spin.min.js" type="text/javascript"></script>
<script src="/assets/js/plugins/buttons/ladda.min.js" type="text/javascript"></script>
<script src="/assets/js/pages/components_buttons.js" type="text/javascript"></script>

<script src="/assets/vendors/angular-1.5.5/angular.js"></script>
<script src="/assets/vendors/angular-1.5.5/angular-animate.js"></script>
<script src="/Scripts/ui-bootstrap-tpls-1.3.2.js"></script>

<script src="/assets/vendors/file-upload/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="/assets/vendors/file-upload/ng-file-upload.min.js"></script>
<script src="/assets/vendors/ng_only_number.js"></script>

<link href="/assets/vendors/bootstrap-switch/bootstrap3/bootstrap-switch.css" rel="stylesheet" type="text/css" />
<script src="/assets/vendors/bootstrap-switch/bootstrap-switch.js"></script>

<script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/forms/styling/switch.min.js"></script>

<script type="text/javascript" src="/assets/js/plugins/notifications/bootbox.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/notifications/sweet_alert.min.js"></script>

@*<script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>*@

<script src="~/Scripts/xpublic.js"></script>
<script src="/assets/vendors/ng_only_number.js"></script>

<!--diagram-->
<script src="/Scripts/flow/svg-path/leader-line.min.js"></script>
<script src="~/Scripts/flow/svg-path/plain-draggable.min.js"></script>

<script src="~/Scripts/flow/scripts/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>

@*<script type="text/javascript" src="~/Scripts/flow/d3.v5.js"></script>*@
<script type="text/javascript" src="/assets/js/pages/components_popups.js"></script>
<script type="text/javascript" src="~/Scripts/flow/dom-to-image.js"></script>
<script type="text/javascript" src="/assets/filesaver/FileSaver.min.js"></script>

<link href="~/Scripts/xflow/xdiagram.css" rel="stylesheet" type="text/css">

<script src="~/Scripts/contextMenu/jquery.contextMenu.js" type="text/javascript"></script>
<link href="~/Scripts/contextMenu/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
<!--/diagram-->

<style type="text/css">
    .auto-style3 {
        width: 64px;
    }

    .image-wraper {
        float: left;
        margin-right: 10px;
        width: 120px;
        height: 120px;
        overflow: hidden;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .image-content {
        width: 120px;
        cursor: pointer;
        /*padding: 5px;*/
        /*position: absolute;*/
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>

<body @*ng-app="drdApp"*@>
    <!-- Page container -->
    <div class="page-container" ng-controller="drdController" id="drdController">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Page header -->
                <h4><a href="/workflow/list" style="border-radius:15px;text-align:center;padding:5px;margin-left:20px;font-weight:800;background-color:#5D90AE;color:white;"><i class="icon-opt"></i></a> @ViewBag.Title</h4>

                <!-- /page header -->
                <!-- Horizontal form options -->
                <!-- Content area -->
                <div class="content" style="display:none">
                    <!-- Basic layout-->
                    <div class="panel panel-flat">
                        <div class="panel-body">
                            <!--MEMBER DATA-->
                            <form name="myForm" class="form-horizontal" autocomplete="off">
                                <div ng-show="wizarno=='product'">
                                    <fieldset>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <label class="control-label">Name</label>
                                                    <div class="input-group">
                                                        <div>
                                                            <input type="text" class="form-control" ng-model="model.Name" ng-required="wizarno=='product'" maxlength="100" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-10">
                                                    <label class="control-label">Description</label><br />
                                                    <textarea class="control-label" ng-model="model.Description" rows="3" style="resize: none; overflow-y: hidden; opacity: 0.8; height: 100px;width:100%"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <label class="control-label">Status Active</label><br />
                                                    <input id="checkbox1" type="checkbox" data-off-text="Inactive" data-on-text="Active" class="BSswitch" ng-model="model.IsActive">
                                                </div>
                                            </div>
                                            <div class="row" ng-show="isValidObject('ISTEMPLATE')">
                                                <div class="col-md-5">
                                                    <label class="control-label">As Template</label><br />
                                                    <input id="checkbox2" type="checkbox" data-off-text="No&ensp;" data-on-text="Yes" class="BSswitch" ng-model="model.IsTemplate">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <hr />
                                    <!--CANVAS-->
                                    <div id="xdiagramController" ng-controller="xdiagramController">
                                        <div class="modal-header bg-grey-300">
                                            <button id="downloadDiagam" class="close" type="button"><i class="icon-file-download pull-right"></i></button>
                                            <h6 class="modal-title">Work Flow <span class="is-used" style="display:none">(Disabled)</span></h6>
                                        </div>

                                        <div class="is-used alert alert-warning alert-styled-left" style="padding:5px;margin-bottom:0px;display:none">
                                            The diagram <span class="text-semibold">cannot be updated</span>, because it is already used by the rotation.
                                        </div>
                                        <div id="canvas" class="canvas context-menu-one" onscroll="canvasScroll()" ng-click="releaseAllSelected()" style="pointer-events:none">

                                            <div id="node-activity-xx" class="node-activity-yy" style="display:none">
                                                <div id="node-activity-caption-xx" class="node-activity-caption-yy">
                                                    <i class="icon-cross3 pull-right" onclick="removeActivityConfirmation('-xx-')"></i>
                                                    <i class="icon-loop4 pull-right" onclick="selectLink('node-activity-xx')" data-popup="tooltip" title="Select links" data-placement="bottom"></i>
                                                </div>
                                                <div class="node-activity-content-yy">
                                                    <span id="title-activity-xx" class="title-activity">Activity</span>
                                                </div>
                                                <div class="footer-yy">
                                                    <div id="reject-xx"></div>
                                                    <div id="submit-xx" class="join con-submit" data-popup="tooltip" title="Submit" data-placement="bottom"></div>
                                                    <div id="revisi-xx"></div>
                                                    <div id="alter-xx"></div>
                                                </div>
                                            </div>


                                            <div id="node-decision-xx" class="node-decision-yy" style="display:none">
                                                <div id="node-decision-caption-xx" class="node-decision-caption-yy">
                                                    <span id="title-decision-xx" class="title-decision" onclick="popupDecision('title-decision-xx')">Decision</span>
                                                    <i class="icon-cross3 pull-right" onclick="removeDecisionConfirmation('-xx-')"></i>
                                                    <i class="icon-loop4 pull-right" onclick="selectLink('node-decision-xx')" data-popup="tooltip" title="Select links" data-placement="bottom"></i>
                                                    <i id="info-decision-xx" class="icon-info22 pull-right" data-popup="popover" data-trigger="hover" data-content=""></i>
                                                </div>
                                                <div class="node-decision-content-yy">
                                                    <table style="width:100%;">
                                                        <tr>
                                                            <td style="width:50px;"><img id="photo-profile-xx" src="~/Images/diagram/decision.png" height="45" style="border-radius:10%;" /></td>
                                                            <td>
                                                                <span id="decision-descr-xx" class="text-format">value>=0</span><br />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <input id="decision-operator-xx" value=">=" style="display:none" />
                                                    <input id="decision-value-xx" value="0" style="display:none" />
                                                </div>
                                                <div class="footer-yy">
                                                    <div id="no-xx" class="join con-no" data-popup="tooltip" title="Decission no" data-placement="bottom"></div>
                                                    <div id="yes-xx" class="join con-yes" data-popup="tooltip" title="Decission yes" data-placement="bottom"></div>
                                                </div>
                                            </div>

                                            <div id="node-transfer-xx" class="node-transfer-yy" style="display:none">
                                                <div id="node-transfer-caption-xx" class="node-transfer-caption-yy">
                                                    <span id="title-transfer-xx" class="title-transfer" onclick="popupTransfer('title-transfer-xx')">Transfer</span>
                                                    <i class="icon-cross3 pull-right" onclick="removeTransferConfirmation('-xx-')"></i>
                                                    <i class="icon-loop4 pull-right" onclick="selectLink('node-transfer-xx')" data-popup="tooltip" title="Select links" data-placement="bottom"></i>
                                                    <i id="info-transfer-xx" class="icon-info22 pull-right" data-popup="popover" data-trigger="hover" data-content=""></i>
                                                </div>
                                                <div class="node-transfer-content-yy">
                                                    <table style="width:100%;">
                                                        <tr>
                                                            <td style="width:50px;"><img id="photo-profile-xx" src="~/Images/diagram/transfer.png" height="45" style="border-radius:10%;" /></td>
                                                            <td>
                                                                <span id="transfer-descr-xx" class="text-format">amount = 0</span><br />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <input id="transfer-value-xx" value="0" style="display:none" />
                                                </div>
                                                <div class="footer-yy">
                                                    <div id="submit-transfer-xx" class="join con-submit-transfer" data-popup="tooltip" title="Transfer" data-placement="bottom"></div>
                                                </div>
                                            </div>

                                            <div id="node-case-xx" class="node-case-yy" style="display:none">
                                                <div id="node-case-caption-xx" class="node-case-caption-yy">
                                                    <span id="title-case-xx" class="title-case" onclick="popupCase('title-case-xx')">Case</span>
                                                    <i class="icon-cross3 pull-right" onclick="removeCaseConfirmation('-xx-')"></i>
                                                    <i class="icon-loop4 pull-right" onclick="selectLink('node-case-xx')" data-popup="tooltip" title="Select links" data-placement="bottom"></i>
                                                    <i id="info-case-xx" class="icon-info22 pull-right" data-popup="popover" data-trigger="hover" data-content=""></i>
                                                </div>
                                                <div class="node-case-content-yy">
                                                    <table style="width:100%;">
                                                        <tr>
                                                            <td style="width:50px;"><img id="photo-profile-xx" src="~/Images/diagram/case.png" height="45" style="border-radius:10%;" /></td>
                                                            <td>
                                                                <span id="case-descr-xx" class="text-format">Expression</span><br />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="footer-yy">
                                                    <div id="submit-case-xx" class="join con-submit-case" data-popup="tooltip" title="Case expression" data-placement="bottom"></div>
                                                </div>
                                            </div>

                                            <div id="node-pararrel-xx" class="node-pararrel-yy" style="display:none">
                                                <div class="header">
                                                    <i class="icon-cross3" onclick="removePararrelConfirmation('-xx-')"></i>
                                                </div>
                                                <span id="title-pararrel-xx" class="text-format">Parallel</span>
                                                <div class="footer" style="bottom:2px">
                                                    <div id="submit-pararrel-xx" class="join con-submit-pararrel" data-popup="tooltip" title="Parallel" data-placement="bottom"></div>
                                                </div>
                                            </div>

                                            <div id="start-0" class="terminator start" style="display:none">
                                                <span id="title-start-0" class="text-format">Start</span>
                                            </div>

                                            <div id="node-activity-2" class="node-activity-2" style="display:none">
                                                <div id="node-activity-caption-2" class="node-activity-caption-2">
                                                    <span id="title-activity-2" class="title-activity">Document Uploading</span>
                                                </div>
                                                <div class="footer">
                                                    <div id="submit-2" class="join con-submit" data-popup="tooltip" title="Start" data-placement="bottom"></div>
                                                </div>
                                            </div>

                                            <div id="end-1" class="terminator end" style="display:none">
                                                <span id="title-end-1" class="text-format">End</span>
                                            </div>
                                            <!-- View member modal -->
                                            <ng-include src="'/Include/PopupMember'"></ng-include>
                                            <ng-include src="'/Include/PopupActivity'"></ng-include>
                                            <ng-include src="'/Include/PopupDecision'"></ng-include>
                                            <ng-include src="'/Include/PopupTransfer'"></ng-include>
                                            <ng-include src="'/Include/PopupCase'"></ng-include>
                                            <ng-include src="'/Include/PopupLinkCase'"></ng-include>
                                            <ng-include src="'/Include/PopupLinkAlter'"></ng-include>
                                            <!-- View member modal -->
                                        </div>
                                    </div>
                                    <!--/CANVAS-->
                                    <hr />
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="text-right">
                                                @*<span class="input-group-btn">*@
                                                <button class="btn bg-slate-700 pull-right btn-ladda btn-submit1" data-style="slide-down" data-spinner-color="#333" ng-click="updateProduct()" style="width:120px">
                                                    <span class="ladda-label">&nbsp;&nbsp;Save&nbsp;&nbsp;</span><span class="ladda-spinner"></span>
                                                    <div class="ladda-progress" style="width: 0px;"></div>
                                                </button>

                                                <button class="btn btn-default pull-right btn-ladda btn-submit2" data-style="slide-down" data-spinner-color="#333" ng-click="updateProductDraft()" style="width:120px;margin-right:10px">
                                                    <span class="ladda-label">&nbsp;&nbsp;Save as Draft&nbsp;&nbsp;</span><span class="ladda-spinner"></span>
                                                    <div class="ladda-progress" style="width: 0px;"></div>
                                                </button>
                                                @*</span>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--/MEMBER DATA-->
                            <!--CONFIRMATION THANK YOU-->
                            <div ng-show="wizarno=='success'">
                                <div class="alert alert-success alert-styled-left">
                                    Data successfully saved.<br>
                                </div>
                                This page will be redirected to Rotation List page in 10 seconds
                            </div>
                            <!-- View member modal -->
                            <ng-include src="'/Include/PopupWorkflow'"></ng-include>
                            <ng-include src="'/Include/PopupProject'"></ng-include>
                            <!-- View member modal -->
                        </div>
                    </div>
                    <!-- /basic layout -->
                </div>
                <!-- /vertical form options -->
            </div>
            <!-- /Main content -->
        </div>
        <!-- /Page content -->
    </div>
    <!-- /Page container -->

    <script type="text/javascript">
        var myApp = angular.module('drdApp', ['ngAnimate', 'ui.bootstrap', 'ngFileUpload', 'ngOnlyNumberApp'])
        myApp.controller("drdController", function ($scope, Upload, $location, $http, $filter) {
            // modal workflow
            $scope.workflow = {};
            $scope.workflows = [];
            $scope.workflowCount = [];
            // modal workflow
            // modal project
            $scope.project = {};
            $scope.projects = [];
            $scope.projectCount = [];
            $scope.paging = [];
            $scope.kriteria = "";
            $scope.page = 1;
            $scope.row = 20;
            $scope.currPage = 0;
            $scope.index = 0;
            // modal project
            $scope.model = {};
            $scope.wizarno = 'product';
            $scope.master = {};
            $scope.model.IsActive=true;
            $scope.model.Id = 0;
            $scope.isUsed = false;
            $scope.objectItems=[];
            initValues();
            $(".control-warning").uniform({
                radioClass: 'choice',
                wrapperClass: 'border-warning-600 text-warning-800'
            });
            /*--------------------------------------------------------------
            INIT DATA
            --------------------------------------------------------------*/
            angular.element(document).ready(function () {

                if ($scope.model.Id!=0){
                    setTimeout(function () {
                        var digramScope=angular.element('#xdiagramController').scope();
                        digramScope.bindDiagram(digramScope.$parent.nodes, digramScope.$parent.links);
                        $("#start-0").show();
                        $("#end-1").show();
                        digramScope.refreshLines();
                    }, 500);
                }else{
                    $("#start-0").show();
                    $("#end-1").show();
                }
                $(".content").show();
            });


            function initValues() {
                var product = @Html.Raw(Json.Encode(Model.obj));
                $scope.objectItems = @Html.Raw(Json.Encode(Model.objItems));
                if (product.Id!=0 ){
                    $scope.model.Id=product.Id;
                    $scope.model.Name=product.Name;
                    $scope.model.Description= product.Description;
                    $scope.model.IsActive= product.IsActive;
                    $scope.model.IsTemplate= product.IsTemplate;
                    $scope.project=product.Project;
                    $scope.nodes=product.WorkflowNodes;
                    $scope.links=product.WorkflowNodeLinks;
                    $scope.isUsed=product.IsUsed;
                    if (!product.IsUsed)
                        $("#canvas").css("pointer-events",'');
                    else
                        $(".is-used").show();
                }else{
                    $("#canvas").css("pointer-events",'');
                }
                $('#checkbox1').bootstrapSwitch.defaults.size='mini';
                $('#checkbox2').bootstrapSwitch.defaults.size='mini';
            }
            $scope.initData = function () {
            }
            /*--------------------------------------------------------------
            SAVE PRODUCT
            --------------------------------------------------------------*/
            $scope.saveProduct = function () {
                var btn = Ladda.create(document.querySelector('.btn-submit1'));
                btn.start();
                var digramScope=angular.element('#xdiagramController').scope();
                var data = digramScope.submitFlow();
                console.log(data);

                $http.post('@Url.Action("Save", "Workflow")',
                    {
                        prod: {
                            Id: $scope.model.Id,
                            Name: $scope.model.Name,
                            Description: $scope.model.Description,
                            IsActive: $('#checkbox1')[0].checked,
                            IsTemplate: $('#checkbox2')[0].checked,
                            WorkflowNodes:data.nodes,
                            WorkflowNodeLinks:data.links,
                        }
                    }).then(function (response) {
                        btn.stop();
                        if (response.data) {
                            if (response.data == -1) { showInfo("The amount of activity created exceeds the number of your package. Please see your default plan type at My account -> My Plan Type"); return; }
                            else if (response.data == -2) { showInfo("You do not have a plan payment."); return; }
                            else if (response.data == -3) { showInfo("This workflow can not be edit because it already in use"); return; }

                            window.scrollTo(0, 0);
                            $scope.wizarno = 'success';
                            digramScope.clearDiagram();
                            setTimeout(function () {
                                  window.location.href = "/workflow/list";
                                }, 10000);
                        }
                    }, function (response) {
                            btn.stop();
                        //error handle\
                        var x = 0;
                    });

            }
            $scope.saveProductDraft = function () {
                var btn = Ladda.create(document.querySelector('.btn-submit2'));
                btn.start();
                var digramScope=angular.element('#xdiagramController').scope();
                var data = digramScope.submitFlow();
                $http.post('@Url.Action("SaveDraft", "Workflow")',
                    {
                        prod: {
                            Id: $scope.model.Id,
                            Name: $scope.model.Name,
                            Description: $scope.model.Description,
                            IsActive: $('#checkbox1')[0].checked,
                            IsTemplate: $('#checkbox2')[0].checked,
                            WorkflowNodes:data.nodes,
                            WorkflowNodeLinks:data.links,
                        }
                    }).then(function (response) {
                        btn.stop();
                        if (response.data) {
                            if (response.data == -3) { showInfo("This workflow can not be edit because it already in use"); return; }

                            window.scrollTo(0, 0);
                            $scope.wizarno = 'success';
                            digramScope.clearDiagram();
                        }
                    }, function (response) {
                        btn.stop();
                        //error handle\
                        var x = 0;
                    });
            }
            $scope.updateProduct = function () {
                if (!$scope.isValidForm($scope.myForm))
                    return;
                $scope.saveProduct();
            }
            $scope.updateProductDraft = function () {
                if (!$scope.isValidForm($scope.myForm))
                    return;
                $scope.saveProductDraft();
            }
            $scope.isValidForm = function (theForm) {
                var isvalid = theForm.$valid;
                return isvalid;
            };
            $scope.scrollingPage = function (id) {
                $('html, body').animate({
                    scrollTop: $(id).offset().top
                }, 200);
            }
/*            $scope.isValidObject = function (name) {
                return $scope.objectItems.includes(name);
            };*/
            /*--------------------------------------------------------------
                POPUP WORKFLOW
            --------------------------------------------------------------*/
            $scope.popupWorkflow = function () {
                if ($scope.model.Status!='00'){
                    showInfo("Workflow data can not be changed.");
                    return;
                }
                $scope.workflows = [];
                $scope.page = "1";
                $scope.kriteria = "";
                $scope.paging = [];
                $("#modal_select_workflow").modal("show");
            }
            $scope.setWorkflow = function (idx) {
                $scope.workflow = $scope.workflows[idx];
                $scope.getWorkflowById($scope.workflow.Id);
            }
            $scope.getWorkflowById = function (id) {
                $scope.users = [];
                $http.post('@Url.Action("GetById", "workflow")', { id: id }).then(function (response) {
                    if (response.data){
                        var product=response.data;
                        if ($scope.model.Name==undefined)
                            $scope.model.Name=product.Name;
                        if ($scope.model.Description==undefined)
                            $scope.model.Description= product.Description;
                        setTimeout(function () {
                            var digramScope=angular.element('#xdiagramController').scope();
                            digramScope.clearDiagram();
                            $scope.nodes=product.WorkflowNodes;
                            $scope.links=product.WorkflowNodeLinks;
                            digramScope.bindDiagram(product.WorkflowNodes, product.WorkflowNodeLinks);//digramScope.$parent.nodes, digramScope.$parent.links);
                            $("#start-0").show();
                            $("#end-1").show();
                            digramScope.refreshLines();
                        }, 500);
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }
            $scope.findWorkflows = function (kriteria, page, row) {
                $scope.workflows = [];
                $http.post('@Url.Action("FindWorkflows", "Workflow")', { topCriteria: kriteria, page: page, pageSize: row}).then(function (response) {
                    if (response.data) {
                        $scope.workflows = response.data;
                        $scope.index = row * (page - 1);
                        $scope.findWorkflowsCountAll(kriteria);
                        $scope.isView = true;
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }
            $scope.findWorkflowsCountAll = function (kriteria) {
                $scope.paging = [];
                $http.post('@Url.Action("FindWorkflowsCountAll","Workflow")', { topCriteria: kriteria }).then(function (response) {
                    if (response.data) {
                        var jumlahData = response.data;
                        var jumlahPage = Math.ceil(jumlahData / $scope.row);
                        for (var i = 1; i <= jumlahPage; i++) {
                            $scope.paging.push({ value: i, text: i });
                        }
                        $scope.page = "1";
                    }
                }, function (response) {
                    var x = 0;
                });
            }
            $scope.changePageWorkflows = function (kriteria, page, row) {
                $scope.products = [];
                $http.post('@Url.Action("FindWorkflows", "Workflow")', { topCriteria: kriteria, page: page, pageSize: row}).then(function (response) {
                    if (response.data) {
                        $scope.workflows = response.data;
                        $scope.index = row * (page - 1);
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }
            /*--------------------------------------------------------------
                END POPUP WORKFLOW
            --------------------------------------------------------------*/
            /*--------------------------------------------------------------
                POPUP MEMBER
            --------------------------------------------------------------*/
            $scope.memberIdx=-1;
            $scope.editMember = function (idx) {
                $scope.memberIdx=idx;
                $scope.members = [];
                $scope.page = "1";
                $scope.kriteria = "";
                $scope.paging = [];
                $("#modal_select_member").modal("show");
            }

            $scope.findMembers = function (kriteria, page, row) {
                $scope.page = 1;
                $scope.members = [];
                $http.post('/Member/FindMembers', { topCriteria: kriteria, page: page, pageSize: row }).then(function (response) {
                    if (response.data) {
                        $scope.members = response.data;
                        $scope.index = row * (page - 1);
                        $scope.findMembersCountAll(kriteria);
                        $scope.isView = true;
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }
            $scope.findMembersCountAll = function (kriteria) {
                $scope.paging = [];
                $http.post('/Member/FindMembersCountAll', { topCriteria: kriteria }).then(function (response) {
                    if (response.data) {
                        var jumlahData = response.data;
                        var jumlahPage = Math.ceil(jumlahData / $scope.row);
                        for (var i = 1; i <= jumlahPage; i++) {
                            $scope.paging.push({ value: i, text: i });
                        }
                        $scope.page = "1";
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }
            $scope.changePageMember = function (kriteria, page, row) {
                $scope.products = [];
                $http.post('/Member/FindMembers', { topCriteria: kriteria, page: page, pageSize: row }).then(function (response) {
                    if (response.data) {
                        $scope.members = response.data;
                        $scope.index = row * (page - 1);
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }

            $scope.setMember = function (idx) {
                $scope.users[$scope.memberIdx].UserId=$scope.members[idx].Id;
                $scope.users[$scope.memberIdx].Name=$scope.members[idx].Name;
                $scope.users[$scope.memberIdx].Email=$scope.members[idx].Email;
                $scope.users[$scope.memberIdx].Picture = $scope.members[idx].ImageProfile;
                $scope.users[$scope.memberIdx].EncryptedId = $scope.members[idx].EncryptedId;
            }
            $scope.removeMember = function (idx) {
                $scope.users.splice(idx,1);
            }
            $scope.popupMember = function () {
                $scope.memberIdx=-1;
                $scope.members = [];
            }
            /*--------------------------------------------------------------
                END POPUP MEMBER
            --------------------------------------------------------------*/
        });
        $(document).ready(function () {

            $(window).keydown(function(event){
                if(event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });

            $('#checkbox1').bootstrapSwitch();
            $('#checkbox2').bootstrapSwitch();
            //var node = document.getElementById('canvas');
            var btn = document.getElementById('downloadDiagam');
            btn.onclick = function() {
                //////node.innerHTML = "I'm an image now."
                ////domtoimage.toBlob(document.getElementById('canvas'))
                ////  .then(function(blob) {
                ////      window.saveAs(blob, 'my-node.png');
                ////  });
                //var node = document.getElementById('canvas');
                //domtoimage.toBlob(node).then(function (blob) {
                //    window.saveAs(blob, 'my-node.png');
                //});
                //domToImage
                //    .toBlob(document.getElementById("canvas"))
                //    .then(function(blob) {
                //        saveBlobAsFile(blob, "XX.png");
                //    });
                domtoimage.toBlob(document.getElementById('canvas'))
                    .then(function(blob) {
                        window.saveAs(blob, 'my-node.png');
                    });
            }
        })
        // this function is to convert blob to base64 img
        function saveBlobAsFile(blob, fileName) {
            var reader = new FileReader();
            reader.onloadend = function() {
                var base64 = reader.result;
                var img = document.createElement("img");
                img.classList.add("me-img");
                img.setAttribute("src", base64);
                // insert the img to dom
                document.getElementById("bar").appendChild(img);
            };
            reader.readAsDataURL(blob);
        }
    </script>
    <script src="/Scripts/xcontroller/xdiagram.js" type="text/javascript"></script>
</body>