@using DRD.Domain;
@model JsonLayout

@{
    ViewBag.Title = "";
}

@*<link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/assets/css/header-user-dropdown.css">
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>*@

<script src="/assets/js/plugins/buttons/spin.min.js" type="text/javascript"></script>
<script src="/assets/js/plugins/buttons/ladda.min.js" type="text/javascript"></script>
<script src="/assets/js/pages/components_buttons.js" type="text/javascript"></script>

<script src="/assets/vendors/angular-1.5.5/angular.js"></script>
<script src="/assets/vendors/angular-1.5.5/angular-animate.js"></script>
<script src="/Scripts/ui-bootstrap-tpls-1.3.2.js"></script>

<script src="/assets/vendors/file-upload/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="/assets/vendors/file-upload/ng-file-upload.min.js"></script>
<script src="/assets/vendors/ng_only_number.js"></script>

<link href="/assets/vendors/bootstrap-switch/bootstrap3/bootstrap-switch.css" rel="stylesheet" type="text/css" />
<script src="/assets/vendors/bootstrap-switch/bootstrap-switch.js"></script>

<script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/forms/styling/switch.min.js"></script>

<script type="text/javascript" src="/assets/js/plugins/notifications/bootbox.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/notifications/sweet_alert.min.js"></script>

<script src="~/Scripts/xpublic.js"></script>

<style type="text/css">
    .panel-heading {
        padding: unset;
    }

    .panel-flat > .panel-heading {
        padding-top: 0px;
        padding-bottom: 0px;
    }
</style>
<style type="text/css">
    .footer-user {
        width: 281px;
        height: 32px;
    }

    .default-user {
        width: 281px;
        height: 46px;
    }

    .user-selected {
        height: 46px;
    }

    .list-user {
        width: 281px;
        height: 75px;
    }

    .list-chat {
        height: 75px;
    }

    .textbox-chat {
        height: 32px;
    }


    .speech-bubble-left {
        background-color: #f8f8f8;
        border: 1px solid #c8c8c8;
        border-radius: 5px;
        width: auto;
        max-width:80%;
        text-align: left;
        padding: 10px;
        margin-bottom:10px;
        margin-left:50px;

        display:inline-block;
        clear:both;
        float:left;
    }


    .speech-bubble-right {
        background-color:dodgerblue;
        color:white;
        border: 1px solid #c8c8c8;
        border-radius: 5px;
        width: auto;
        max-width:80%;
        text-align: left;
        padding: 10px;
        margin-bottom:10px;
        margin-right:50px;

        display:inline-block;
        clear:both;
        float:right;
    }

    .speech-bubble .arrow {
        border-style: solid;
        position: absolute;
    }

    .bottom {
        border-color: #c8c8c8 transparent transparent transparent;
        border-width: 8px 8px 0px 8px;
        bottom: -8px;
    }
</style>





<body @*ng-app="drdApp"*@>
    <!-- Page container -->
    <div class="page-container" ng-controller="drdController">
        <!-- Page content -->
        <div class="page-content" id="content" style="display:none;">

            <!-- Main content -->
            <div class="content-wrapper">
                <div class="col-md-12" style="padding-left:0px;padding-right:0px">
                    <table style="width:100%;">
                        <tr>
                            <td class="default-user" style="background-color: #C0C0C0">
                                <img ng-src="/Images/Member/{{user.ImageProfile}}" height="40" width="40" style="border-radius:10%;" />
                                &ensp;&ensp;CHAT
                            </td>
                            <td class="user-selected" style="background-color: #C0C0C0">
                                <img ng-src="/Images/Member/{{selectedUser.SenderFoto}}" height="40" width="40" style="border-radius:10%;" />
                                &ensp;&ensp;{{selectedUser.SenderName}}<span style="font-size:xx-small;color:brown">&ensp;&ensp;{{selectedUser.SenderProfession}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="list-user" style="overflow:auto">
                                <div style="height:450px">
                                    <div ng-repeat="x in users" style="padding:10px;border-bottom-width:1px;border-bottom-color:aqua;border-bottom-style:solid;cursor:pointer" ng-click="clickUser(x.SenderId)">
                                        <img ng-src="/Images/Member/{{x.SenderFoto}}" height="40" width="40" style="border-radius:10%;" />
                                        &ensp;&ensp;{{x.SenderName}}<span style="font-size:xx-small;color:brown">&ensp;&ensp;{{x.SenderProfession}}</span>
                                        <span class="badge bg-warning-400" ng-hide="x.Unread==0">{{x.Unread}}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="list-chat" style="vertical-align:top;padding:10px;overflow:auto;background-color:#fafafa">
                                <div style="height:450px;overflow:auto">
                                    <div class="speech-bubble-{{(x.IsMe?'left':'right')}}" ng-repeat="x in messages">
                                        @*<div class="arrow bottom right"></div>*@
                                        {{x.TextMessage}}<br />
                                        <span style="font-size:xx-small">{{getTime(x.DateMessage)}}</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="background-color: #C0C0C0">
                            <td class="footer-user">
                                <button class="btn btn-info btn-xs" type="button" ng-click="addContact()"><i class="icon-user-plus position-left"></i> Add Contact</button>
                            </td>
                            <td class="textbox-chat">
                                <div>
                                    <div class="input-group">
                                        @*<span class="input-group-addon"><i class="icon-search4"></i></span>*@
                                        <input id="txtmessage" type="text" class="form-control" ng-model="message" placeholder="Type a message" ng-keyup="$event.keyCode == 13 && sendMessage()">
                                        <span class="input-group-btn">
                                            <button id="my-button" class="btn btn-default" type="button" ng-click="sendMessage()" style="width:120px">
                                                <span>Send</span><span></span>
                                                <div class="ladda-progress" style="width: 0px;"></div>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- Page header -->
                <!-- /page header -->
                <!-- Horizontal form options -->
                <!-- Content area -->
                <ng-include src="'/Include/PopupChatContact'"></ng-include>
                <!-- /vertical form options -->
            </div>
            <!-- /Main content -->
        </div>
        <!-- /Page content -->
    </div>
    <!-- /Page container -->

    <script type="text/javascript">


        var myApp = angular.module('drdApp', ['ngAnimate', 'ui.bootstrap', 'ngFileUpload', 'ngOnlyNumberApp'])

        myApp.controller("drdController", function ($scope, Upload, $location, $http, $filter) {

            $scope.product = {};
            $scope.products = [];
            $scope.productCount = [];
            $scope.paging = [];
            $scope.kriteria = "";
            $scope.page = 1;
            $scope.row = 20;
            $scope.currPage = 0;
            $scope.isView = false;
            $scope.index = 0;

            $scope.dummyUsers=[];
            $scope.users=[];
            $scope.user={};
            $scope.selectedUser={};
            $scope.message="";
            $scope.messages=[];

            initValues();

            $scope.xtimer = 0;

            $scope.startCounting = function () {
                $scope.xtimer = setInterval(() => {
                    $scope.getActivityCounter();
                }, 5000);

            };

            $(".control-warning").uniform({
                radioClass: 'choice',
                wrapperClass: 'border-warning-600 text-warning-800'
            });

            $scope.$on("$destroy", function (event) {
                clearInterval(xtimer);
            });

            $scope.getActivityCounter = function () {
                $scope.getContact();

                if ($scope.selectedUser==undefined || $scope.selectedUser.Id==undefined)
                    return;

                if ($scope.selectedUser.Id!=0)
                    $scope.getMessage();
            }

            /*--------------------------------------------------------------
            INIT DATA
            --------------------------------------------------------------*/
            angular.element(document).ready(function () {
                $('#content').show();
                $scope.startCounting();
                $scope.getActivityCounter();
            });

            function initValues() {
                //$scope.getContact();
                //$scope.users = @Html.Raw(Json.Encode(Model.obj));
                $scope.user = @Html.Raw(Json.Encode(Model.user));
                //$scope.selectedUser=$scope.user;

                //for(i=$scope.users.length-1;i>0;i--){
                //    if ($scope.users[i].Id== $scope.user.Id){
                //        $scope.users.splice(i,1);
                //        break;
                //    }

                //}

            }

            $scope.initData = function () {

            }

            $scope.clickUser = function (id) {
                $scope.selectedUser=$filter('filter')($scope.users, {SenderId: id}, true)[0];
                $scope.getMessage();
            }

            $scope.getTime = function (dateTime) {
                var today=$filter('date')(new Date(),'yyyyMMdd');
                var thatTime=$filter('date')(convertJsonDate(dateTime),'yyyyMMdd');
                if (today==thatTime)
                    return $filter('date')(convertJsonDate(dateTime),'HH:mm');
                else
                    return $filter('date')(new Date(),'dd/MM/yyyy HH:mm');

            }

            $scope.getContact = function () {

                $http.post('@Url.Action("getsum", "message")', { maxId:0, topCriteria:null, page:1, pageSize:100}).then(function (response) {
                    if (response.data) {
                        $scope.users=response.data;

                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }

            $scope.sendMessage = function () {
                var msg={};
                msg.FromId=$scope.user.Id;
                msg.FromType=1;//
                msg.ToId=$scope.selectedUser.SenderId;
                msg.ToType=1;
                msg.TextMessage=$scope.message;
                $http.post('@Url.Action("save", "message")', { rocc: msg}).then(function (response) {
                    if (response.data) {
                        var item={TextMessage:$scope.message,MessageType:0,DateMessage:response.data.DateCreated,IsMe:true};
                        $scope.messages.push(item);
                        $scope.message="";
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }
            $scope.getMessage = function () {

                $http.post('@Url.Action("getsumdetail", "message")', { myId: $scope.user.Id, yourId: $scope.selectedUser.SenderId}).then(function (response) {
                    if (response.data) {
                        $scope.messages=response.data;

                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }



            
            /*--------------------------------------------------------------
                POPUP MEMBER
            --------------------------------------------------------------*/
            $scope.addContact = function () {
                $scope.members = [];
                $("#modal_select_contact").modal("show");
            }


            //$scope.memberIdx=-1;
            //$scope.editMember = function (idx) {
            //    $scope.memberIdx=idx;
            //    $scope.members = [];
            //    $("#modal_select_contact").modal("show");
            //}

            $scope.setMember = function (idx) {
                //$scope.users[$scope.memberIdx].MemberId=$scope.members[idx].Id;
                //$scope.users[$scope.memberIdx].MemberNumber=$scope.members[idx].Number;
                //$scope.users[$scope.memberIdx].MemberName=$scope.members[idx].Name;
                //$scope.users[$scope.memberIdx].MemberEmail=$scope.members[idx].Email;
                //$scope.users[$scope.memberIdx].MemberPicture=$scope.members[idx].ImageProfile;

                var user={};
                user.SenderFoto=$scope.members[idx].ImageProfile;
                user.SenderId=$scope.members[idx].Id;
                user.SenderName=$scope.members[idx].Name;
                user.SenderProfession="";
                user.SenderType=0;
                user.ReceiverId=$scope.user.Id;
                user.ReceiverName=$scope.user.Name;

                $scope.selectedUser=user;

                $scope.getMessage();

                $( "#txtmessage" ).focus();

                //var found=false;
                //for(i=0;i<$scope.users.length;i++){
                //    if ($scope.users[i].SenderId==user.SenderId){
                //        found=true;
                //        break;
                //    }
                //}

                //if(!found){
                //    $scope.users.push(user);
                //}

            }

            $scope.getLiteMembers = function (kriteria, page, row) {
                $scope.members = [];
                $http.post('/Member/GetChatContacts', { topCriteria: kriteria, page: page, pageSize: row }).then(function (response) {
                    if (response.data) {
                        $scope.members = response.data;

                        $scope.index = row * (page - 1);

                        $scope.paging = [];
                        $scope.getMemberCount(kriteria);

                        $scope.isView = true;
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }

            $scope.changePageMember = function (kriteria, page, row) {
                $scope.products = [];
                $http.post('/Member/GetChatContacts', { topCriteria: kriteria, page: page, pageSize: row }).then(function (response) {
                    if (response.data) {
                        $scope.members = response.data;
                        $scope.index = row * (page - 1);
                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }

            $scope.getMemberCount = function (kriteria) {
                $http.post('/Member/GetChatContactsCount', { topCriteria: kriteria }).then(function (response) {
                    if (response.data) {

                        var jumlahData = response.data;
                        var jumlahPage = Math.ceil(jumlahData / $scope.row);
                        for (var i = 1; i <= jumlahPage; i++) {
                            $scope.paging.push({ value: i, text: i });
                        }

                        $scope.page = "1";

                    }
                }, function (response) {
                    //error handle\
                    var x = 0;
                });
            }


            /*--------------------------------------------------------------
                END POPUP MEMBER
            --------------------------------------------------------------*/

            $scope.scrollingPage = function (id) {
                $('html, body').animate({
                    scrollTop: $(id).offset().top
                }, 200);
            }

            $scope.validAction = function (val, bit) {
                return ((val & bit) == bit);
            }



            /*--------------------------------------------------------------
           CONVERT JSON DATE
           --------------------------------------------------------------*/
            $scope.convertJsonDate = function (val) {
                if (val == undefined)
                    return '';
                return new Date(parseInt(val.substr(6)));
            }
            function convertJsonDate(val) {
                if (val == undefined)
                    return '';
                return new Date(parseInt(val.substr(6)));
            }
        });


        $(function () {
        });


        $(document).ready(function () {
        })

    </script>

</body>